{% extends 'base.html.twig' %}
{% block title %}Вход!{% endblock %}
{% block description %}Войдите на сайте Lipinskie Raki{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block body %}
    <section class="wrapper">
    <div class="container">
        <div class="container-inside">
            {% include 'elements/__header.html.twig' with {'active': false} %}
            <main>
                <div class="additional-nav">
                    <div class="additional-nav-container">
                        <div class="additional-nav-item">
                            Живые раки
                        </div>
                        <div class="additional-nav-item">
                            Вареные раки
                        </div>
                        <div class="additional-nav-item">
                            Жареные раки
                        </div>
                    </div>
                </div>
                <div class="small-red-content">
                    <embed id="shrimps" type="image/svg+xml" src="/assets/img/shrimp.svg"/>
                    <div class="form-container">
                        <div class="form-title">
                            <span id="subtitle"> Пора сделать заказ!</span><br>
                            <span id="title">Осталось только зайти</span>
                        </div>
                        <form method="post" class="login-form">
                            {% if error %}
                                {% if 'checkCredentials' in error.message %}
                                    <small class="validation-mess">Неверный пароль!</small>
                                {% else %}
                                    <small class="validation-mess">{{ error.message }}</small>
                                {% endif %}
                            {% endif %}
                            <div class="login-input-container">
                                <div>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="user-input login-input" placeholder="Email" required autofocus>
                                </div>
                                <div>
                                    <input type="password" name="password" id="inputPassword" class="user-input login-input" placeholder="Пароль" required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="remeber_me">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Запомнить меня
                                </label>
                            </div>
                            <div class="login-button btn">
                                Войти
                            </div>
                        </form>
                        <div class="forgot-pass">
                            <a href="{{ path('enterEmail') }}">Забыли пароль?</a>
                        </div>
                    </div>
                    {#<form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %} #}
                </div>
                <div class="if-no-login">
{#                    <div class="login-with">#}
{#                        Войти с помощью:#}
{#                    </div>#}
                    <div class="login-with-container">
                        <div class="social-container">
                           {# <div class="social facebook" data-login-social="{{ path('connectAction',{'social': 'facebook'}) }}">
                                <embed type="image/svg+xml" src="/assets/img/facebook.svg"/>
                            </div>#}
{#                            <div class="social google" data-login-social="{{ path('connectAction',{'social': 'google'}) }}">#}
{#                                <embed type="image/svg+xml" src="/assets/img/google.svg"/>#}
{#                            </div>#}
                           {# <div class="social insta" data-login-social="{{ path('connectAction',{'social': 'instagram'}) }}">
                                <embed type="image/svg+xml" src="/assets/img/instagram-big.svg"/>
                            </div>#}
                        </div>
                        <a href="{{ path('register') }}" class="none-text-decoration"><div class="register-button" >
                            Зарегистрироваться
                            </div>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% include 'elements/__footer.html.twig' with {'active': false} %}
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
    <div id="overlay" style="display: none">
        <div class="red-content">
            <div id="shopping-cart">
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                <div class="order">
                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                    <div class="order-product-name">
                    </div>
                </div>
            </div>
            <embed class="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
        </div>
    </div>
{% endblock %}
