{% extends 'base.html.twig' %}
{% block title %}Регистрация{% endblock %}
{% block description %}Регистрация на сайте Lipinskie Raki{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    <div class="additional-nav">
                        <div class="additional-nav-container">
                            <div class="additional-nav-item">
                                Живые раки
                            </div>
                            <div class="additional-nav-item">
                                Вареные раки
                            </div>
                            <div class="additional-nav-item">
                                Жареные раки
                            </div>
                        </div>
                    </div>
                    <div class="small-red-content height-max-content">
                        <embed id="shrimps" type="image/svg+xml" src="/assets/img/shrimp.svg"/>
                        <div class="form-container">
                            <div class="form-title">
                                <span id="subtitle">Хочешь накопительную систему?</span><br>
                                <span id="title">Пора зарегестрироваться</span>
                            </div>
                        </div>
                        {{ form_start(form,{'attr':{'class': 'user-registration'}}) }}
                            <div class="input-reg-container">
                                <div>
                                    {{ form_widget(form.name,{'attr':{'class': 'user-input login-input','placeholder': 'Имя'}}) }}
                                </div>
                                <div>
                                    {{ form_widget(form.email,{'attr':{'class': 'user-input login-input','placeholder': 'E-mail'}}) }}
                                    {% if form.email.vars.errors %}
                                        {% if form.email.vars.errors[0] is defined %}<small style="width: 165px; word-break: break-word" class="validation-mess">{{ form.email.vars.errors[0].message }}</small>{% endif %}
                                    {% endif %}
                                </div>
                                <div>
                                    {{ form_widget(form.password.first,{'attr':{'class': 'user-input login-input'}}) }}
                                    {% if form.password.first.vars.errors %}
                                        {% if form.password.first.vars.errors[0] is defined %}<small style="width: 165px; word-break: break-word" class="validation-mess">{{ form.password.first.vars.errors[0].message }}</small>{% endif %}
                                    {% endif %}
                                </div>
                                <div>
                                    {{ form_widget(form.password.second,{'attr':{'class': 'user-input login-input'}}) }}
                                </div>
                                <div>
                                    {{ form_widget(form.friendUniqueId,{'attr':{'class': 'user-input login-input'}}) }}
                                </div>

                            </div>
                        {{ form_widget(form.save,
                            {'attr':{'class': 'user-input login-input login-button'}
                            }) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="if-no-login reg">
                        <div class="login-with">
{#                            Зарегестрироваться с помощью:#}
                        </div>
                        <div class="login-with-container">
                            <div class="social-container">
                                {#<div class="social facebook"
                                     data-login-social="{{ path('connectRegister',{'social': 'facebook'}) }}">
                                    <embed type="image/svg+xml" src="/assets/img/facebook.svg"/>
                                </div>#}
{#                                <div class="social google"#}
{#                                     data-login-social="{{ path('connectRegister',{'social': 'google'}) }}">#}
{#                                    <embed type="image/svg+xml" src="/assets/img/google.svg"/>#}
{#                                </div>#}
                                {#<div class="social insta"
                                     data-login-social="{{ path('connectRegister',{'social': 'instagram'}) }}">
                                    <embed type="image/svg+xml" src="/assets/img/instagram-big.svg"/>
                                </div>#}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false} %}
        <div id="overlay">
            {% include 'elements/registrationModal.html.twig' %}
        </div>
    </section>
{% endblock %}



