{% extends 'admin_base.html.twig' %}
{% block body %}
    <!-- Page Wrapper -->
<div id="wrapper">
    {{ include('elements/admin_nav.html.twig', {'active' : false}) }}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            {{ include('elements/admin_header.html.twig') }}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <hr class="sidebar-divider">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Заказ №{{ order.id }}</li>
                    </ol>
                </nav>
                <h1 class="orderTotalPrice">
                    Сумма: {{ order.totalPrice }}
                </h1>
                <div class="row relative justify-content-center mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body pt-order">
                                <div class="order-number text-center">
                                    Заказ №{{ order.id }} &nbsp;Сделано: <u>{{ order.createdAt|date('Y-m-d H:i') }}</u>
                                </div>
                                {% if order.status == 'new' %}
                                    <div class="order-status status-new">
                                        Новый Заказ
                                    </div>
                                {% elseif order.status == 'confirmed' %}
                                    <div class="order-status status-confirmed">
                                        Ожидается оплата
                                    </div>
                                {% elseif order.status == 'payed' %}
                                    <div class="order-status status-payed">
                                        Оплачено
                                    </div>
                                {% elseif order.status == 'done' %}
                                    <div class="order-status status-done">
                                        Готово
                                    </div>
                                {% elseif order.status == 'canceled' %}
                                    <div class="order-status status-canceled">
                                        Отменено
                                    </div>
                                {% elseif order.status == 'failed' %}
                                    <div class="order-status status-failed">
                                        Неудачная оплата
                                    </div>
                                {% endif %}
                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-10 col-lg-8">
                                        <ul class="list-group">
                                            {% for item in order.orderDetails %}
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <div>
                                                        <span class="badge badge-dark">{{ loop.index }}</span>
                                                        {{ item.receipt is not null ? item.receipt.name ~' + '~ item.product.name : item.product.name }}
                                                        - {{ item.quantity }} {{ item.product.unit }} |
                                                        <span style="color: red">В наличии: {{ item.product.supply.quantity }} {{ item.product.unit }}</span>
                                                    </div>
{#                                                    {% if order.status == 'new' and order.orderDetails|length > 1%}#}
{#                                                            <i class="fas fa-trash-alt" data-id="{{ item.id }}"></i>#}
{#                                                        {% elseif order.status == 'new'  %}#}
{#                                                            <i class="fas fa-trash-alt"#}
{#                                                               onclick="if(confirm('Остался один продукт в заказе. Вы хотите удалить закз полностью ?'))window.location.href ='{{ path('deleteOrder', {'id': order.id}) }}'"></i>#}
{#                                                    {% endif %}#}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <br>
                                        <div class="card text-center">
                                            <div class="card-header">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">Комментарий</h5>
                                                <p class="card-text">{{ order.comment is not null ? order.comment : '-' }}</p>
                                            </div>
                                            <div class="card-footer text-muted">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4 text-center text-primary h4">
                                        На какую дату: {{ order.orderDate|date('d.m.Y') }}
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 text-center text-primary h4">
                                        На какое время: {{ order.orderTime|date('H:i') }}
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 text-center text-primary h4">
                                        Тип
                                        Доставки: {{ order.address == 'вулиця Сергія Данченка, 12, Київ, Украина, 02000'? 'Самовывоз' : 'Такси/Новая почта' }}
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div id="map">

                                        </div>
                                    </div>
                                    {% set user = order.user %}
                                    <div class="col-sm-12 col-md-6 col-lg-6 text-center pt-5">
                                        <p class="h3">{{ user.name ~' '~ user.surname }}</p>
                                        <p class="h5">{{ order.orderPhone }}</p>
                                        <p class="h5">{{ order.orderEmail }}</p>
                                        <p class="h5">{{ order.address }}</p>
                                    </div>
                                </div>
                                <div class="row mt-3 justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                                        {% if order.status == 'new' or order.status == 'confirmed' or order.status == 'failed' %}
                                            <button class="btn btn-danger mr-2 list-inline-item"
                                                    onclick="window.location.href='{{ path('cancelOrder', {'orderUniqueId': order.orderUniqueId}) }}'">
                                                Отменить заказ
                                            </button>
                                        {% endif %}
                                        {% if order.status == 'new' or order.status == 'canceled'%}
                                            <button class="btn btn-primary mr-2  list-inline-item"
                                                    onclick="window.location.href='{{ path('editOrder',{'id': order.id}) }}'">
                                                Изменить заказ
                                            </button>
                                        {% endif %}
                                        {% if order.status == 'new' or order.status == 'canceled' or order.status == 'failed' %}
                                            <button class="btn btn-success mr-2  list-inline-item"
                                                    onclick="window.location.href='{{ path('changeStatus',{'id': order.id}) }}'">
                                                Подтвердить заказ
                                            </button>
                                        {% elseif order.status == 'payed' %}
                                            <button class="btn btn-light mr-2  list-inline-item"
                                                    onclick="window.location.href='{{ path('changeStatus',{'id': order.id}) }}'">
                                                Подтвердить готовность
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        {{ include('elements/admin_footer.html.twig') }}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}&libraries=places&callback=initMap"
            async defer></script>
    <script>
        let coordinates = '{{ order.coordinates }}';
        console.log(coordinates);
        let map;
        let position = {
            lat: Number(coordinates.substr(0, coordinates.indexOf(' '))),
            lng: Number(coordinates.substr(coordinates.indexOf(' ') + 1))
        };

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                zoom: 15
            });
            let marker = new google.maps.Marker({position: position, map: map});
        }
    </script>
{% endblock %}

