{% extends 'admin_base.html.twig' %}
{% block body %}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {{ include('elements/admin_nav.html.twig', {'active' : false}) }}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            {{ include('elements/admin_header.html.twig') }}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Заказ #123123</h1>
                <hr class="sidebar-divider">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Заказ №{{ order.id }}</li>
                    </ol>
                </nav>
                <h1>
                    Сумма: {{ order.totalPrice }}
                </h1>
                <div class="row relative justify-content-center mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="padding-top: 60px">
                                <div class="order-number text-center">
                                    Заказ №{{ order.id }}  &nbsp;Дата: <u>{{ order.createdAt|date }}</u>
                                </div>
                                {% if order.status == 'new' %}
                                <div class="order-status status-new">
                                    Новый Заказ
                                </div>
                                {% elseif order.status == 'confirmed' %}
                                <div class="order-status status-new">
                                    Ожидается оплата
                                </div>
                                {% elseif order.status == 'payed' %}
                                <div class="order-status status-new">
                                    Оплачено
                                </div>
                                {% elseif order.status == 'done' %}
                                <div class="order-status status-new">
                                    Готово
                                </div>
                                {% endif %}
                                <div class="row justify-content-center">
                                    <div class="col-11 col-md-11 col-sm-12">
                                        <ul class="list-group">
                                            {% for item in order.orderDetails %}
                                                <li class="list-group-item"><span class="badge badge-dark">{{ loop.index }}</span>
                                                    {{  item.receipt is not null ? item.receipt.name ~' + '~ item.product.name : item.product.name }} - {{ item.quantity }} {{ item.product.unit }} |
                                                    <span style="color: red">В наличии: {{ item.product.supply.quantity }} {{ item.product.unit }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 text-center text-primary h4">
                                        На какую дату: {{ order.orderDate|date('d.m.Y')  }}
                                    </div>
                                    <div class="col-4 text-center text-primary h4">
                                        На какое время: {{ order.orderTime|date('H:i')  }}
                                    </div>
                                    <div class="col-4 text-center text-primary h4">
                                        Тип Доставки: {{ order.address == 'вулиця Сергія Данченка, 12, Київ, Украина, 02000'? 'Самовывоз' : 'Такси/Новая почта' }}
                                    </div>
                                </div>
                                <div class="row mt-5">
                                     <div class="col-6">
                                         <div id="map">

                                         </div>
                                     </div>
                                    {% set user = order.user %}
                                    <div class="col-6 text-center pt-5">
                                        <p class="h3">{{ user.name ~' '~ user.surname }}</p>
                                        <p class="h5" >{{ order.orderPhone }}</p>
                                        <p class="h5">{{ order.orderEmail }}</p>
                                        <p class="h5">{{ order.address }}</p>
                                    </div>
                                </div>
                                <div class="row mt-3 justify-content-center">
                                    <div class="col-6 text-center">
                                        <button class="btn btn-danger mr-2 list-inline-item">Удалить заказ</button>
                                        <button class="btn btn-primary mr-2  list-inline-item">Изменить заказ</button>
                                        <div class="dropdown  list-inline-item">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Изменить статус заказа
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">В готовку!</a>
                                                <a class="dropdown-item" href="#">Отложить заказ</a>
                                            </div>
                                        </div>
                                        {# button class="btn btn-secondary ">В готовку</button>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        {{ include('elements/admin_footer.html.twig') }}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5CSb-iMy9DtAHF2u-LGV_j2dZ0UQFTCE&libraries=places&callback=initMap"
            async defer></script>
    <script>
        let coordinates = '{{ order.coordinates }}';
        console.log(coordinates);
        let map;
        let position = { lat: Number(coordinates.substr(0,coordinates.indexOf(' '))), lng: Number(coordinates.substr(coordinates.indexOf(' ')+1))};

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                zoom: 15
            });
            let marker = new google.maps.Marker({position: position, map: map});
        }
    </script>
{% endblock %}

