{% extends 'admin_base.html.twig' %}
{% block body %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    {{ include('elements/admin_nav.html.twig', {'active' : 'products'}) }}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            {{ include('elements/admin_header.html.twig') }}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('showReceipt',{'slug': receipt.slug}) }}">{{ receipt.name }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Фотографии продукта {{ receipt.name }}</li>
                            </ol>
                        </nav>
                        <div class="row">
                            {% for i in 0..2 %}
                                {% if receipt.photo[i] is defined %}
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 10px;">
                                        <div class="card" style="width: 100%;">
                                            <img src="/uploads/receipts/{{ receipt.photo[i].hash }}" class="card-img-top" id="photo-{{ receipt.photo[i].id }}" alt="...">
                                            <div class="card-body">
                                                <form method="post" data-id="{{ receipt.photo[i].id }}" data-product="{{ receipt.id }}" data-url="receipts">
                                                    <p>
                                                        <input type="file" class="form-control-file" required>
                                                    </p>
                                                    <button type="submit" class="btn btn-primary">Загрузить новое фото</button>
                                                </form>
                                                <button data-id="{{ receipt.photo[i].id }}" data-url="receipts" style="margin-top: 10px" class="btn btn-danger delete_photo">Удалить</button>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 10px;">
                                        <div class="card" style="width: 100%;">
                                            <img src="{{ asset('assets/img/noImg.jpg') }}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <form method="post" data-product="{{ receipt.id }}" data-url="receipts">
                                                    <p>
                                                        <input type="file" class="form-control-file" required>
                                                    </p>
                                                    <button type="submit"  class="btn btn-primary">Загрузить новое фото</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        {{ include('elements/admin_footer.html.twig') }}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('photos') }}
{% endblock %}
