<header id="desktop">
    <div class="button-row">
        <div id="fast-order">
            <embed id="fish-bone" type="image/svg+xml" src="/assets/img/fish-bone (1).svg"/>
            <span>Быстрый заказ</span>
        </div>
        <div class="user_basket">
            {% set sum = app.session.get('totalSum')%}
            <div id="basket-container">
                <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
            </div>
            <embed id="user" type="image/svg+xml" src="/assets/img/avatar.svg"/>
        </div>
    </div>
    <div class="row">
        <div class="logo-container">
            <embed id="logo" type="image/svg+xml" src="/assets/img/logo.svg"/>
            <div id="logo-text">
                <span id="lipinskie">Lipinskie</span> <span id="raki">Raki</span>
                <div class="crayfish">
                    Crayfish & Delicacies
                </div>
            </div>
        </div>
    </div>
    <div class="row nav-row">
        <nav>
            <ul>{% set mob_active = active %}
                <li {% if active == 'home' %} {% set active = false %} class="active-nav"{% endif %} data-location="{{ path('home') }}">Главаня</li>
                <li {% if active == 'zhivye-raki' %} {% set active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'zhivye-raki'}) }}">Живые раки</li>
                <li {% if active == 'zharenye-raki' %} {% set active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'zharenye-raki'}) }}">Жареные раки</li>
                <li {% if active == 'not exist yet' %} {% set active = false %} class="active-nav"{% endif %} data-location="">Вареные раки</li>
                <li class="toogle-dropdown {% if active %}active-nav{% endif %}">Ассортимент</li>
            </ul>
        </nav>
    </div>
    <div class="dropdown">
        <ul>
           {{ render(controller('App\\Controller\\CategoryController::renderCategories')) }}
        </ul>
    </div>
</header>
<header id="mobile">
    <embed id="mobile-logo" type="image/svg+xml" src="/assets/img/header-logo.svg"/>
    <div class="mobile-user_basket">
        <div id="basket-container">
            <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
        </div>
        <object id="menu" type="image/svg+xml" data="/assets/img/menu.svg"></object>
    </div>
</header>
