<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion toggled" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin') }}">
        <div class="sidebar-brand-icon">
            <img src="{{ asset('assets/img/RakiLogo.svg') }}" class="">
        </div>
        <div class="sidebar-brand-text mx-3">Lipinskie Raki</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href={{ path("admin") }}>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Главная</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Общие
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {% if active == 'users' %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-users"></i>
            <span>Пользователи</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('admins') }}">Админы</a>
                <a class="collapse-item" href="{{ path('users') }}">Пользователи</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Категории и Товары
    </div>
    <li class="nav-item {% if active == 'categories' %} active{% endif %}">
        <a class="nav-link" href="{{ path('category') }}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Категории</span></a>
    </li>
    <li class="nav-item {% if active == 'products' %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Товары</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('products') }}">Продукты</a>
                <a class="collapse-item" href="{{ path('receipts') }}">Рецепты</a>
            </div>
        </div>
    </li>
    <li class="nav-item {% if active == 'supply' %} active{% endif %}">
        <a class="nav-link" href="{{ path('supply') }}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Поставки</span></a>
    </li>
    <li class="nav-item {% if active == 'specialProposition' %} active {% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePromotion" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-percentage"></i>
            <span>Акции</span>
        </a>
        <div id="collapsePromotion" class="collapse" aria-labelledby="headingPromotions" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('promotion') }}">Перечень акций</a>
                <a class="collapse-item" href="{{ path('createPromotion') }}">Создать акцию</a>
            </div>
        </div>
    </li>
    <li class="nav-item {% if active == 'rating' %} active{% endif %}">
        <a class="nav-link" href="{{ path('rating') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Рэйтинг</span></a>
    </li>
    <li class="nav-item {% if active == 'blog' %} active{% endif %}">
        <a class="nav-link" href="{{ path('showBlog') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Блог</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>