{% for product in products %}
            <tr data-search="{{ product.name }}" class="forSearch">
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {% if product.type == 'product' %}
                        {% if product.TitlePhotoPath is not null %}
                            <img src="{{ product.TitlePhotoPath }}" alt="photo" style="width: 200px; height: 150px">
                        {% else %}
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="photo" style="width: 200px; height: 150px">
                        {% endif %}
                    {% else %}
                        {% if product.titlePhotoPath is not null and getMimeType(product.titlePhoto) != "video/mp4" %}
                            <img src="{{ product.titlePhotoPath }}" alt="photo" style="width: 200px; height: 150px">
                        {% elseif product.getPhoto is not empty %}
                            <img src="/uploads/receipts/{{ product.getPhoto.first.hash }}" alt="photo" style="width: 200px; height: 150px">
                        {% else %}
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="photo" style="width: 200px; height: 150px">
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ product.name }}
                </td>
                <td class="text-center">
                    {% if product.category is not null %}
                        {{ product.category.name }}
                    {% else %}
                        <span style="color: red;">Внимание , категория не назначена!!Продукт не будет отображаться на сайте!</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ product.price }}/{{ product.unit }}
                </td>
                <td class="text-center">
                    {% if product.type == 'product' %}
                        {% if product.productSize is not null %}
                            {{ product.productSize }}
                        {% else %}
                            У этого продукта нет размерности
                        {% endif %}
                    {% else %}
                        Это рецепт
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-primary addTag" data-type="{{ product.type }}" data-id="{{ product.id }}" data-name="{{ product.name }}" {% if product.type == 'product' %}data-size="{{ product.productSize }}"{% endif %}>
                        Добавить
                    </button>
                </td>
            </tr>
{% endfor %}