<div class="cart-container cartItems">
    {% set session = app.session.all %}
    {{ dump(session) }}
{#        {% for cartItem in session %}#}
{#        <div class="order">#}
{#            <img src="{{ cartItem.TitlePhotoPath }}" alt="">#}
{#            <div class="order-product-name">#}
{#                <h6>{{ cartItem.name }}</h6>#}
{#                <h6>{{ cartItem.productSize }}</h6>#}
{#                <h6>{{ cartItem.unit }}</h6>#}
{#                <h6>{{ cartItem.price }}</h6>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
</div>
