<div class="menu-nav">
    <i id="user-mobile" class="far fa-user" data-url="{% if app.user %}{{ path('user',{'uniqueId': app.user.uniqueId}) }}{% else %}{{ path('login') }}{% endif %}"></i>
    <ul>
        <li {% if mob_active == 'home' %} {% set mob_active = false %} class="active-nav"{% endif %} data-location="{{ path('home') }}">Главная</li>
        <li {% if mob_active == 'not exist yet' %} {% set mob_active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'varenye-raki'}) }}">Вареные раки</li>
        <li {% if mob_active == 'zharenye-raki' %} {% set mob_active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'zharenye-raki'}) }}">Жареные раки</li>
        <li {% if mob_active == 'zhivye-raki' %} {% set mob_active = false %} class="active-nav"{% endif %} data-location="{{ path('category_show',{'slug': 'zhivye-raki'}) }}">Живые раки</li>
        {% if app.user is null %}
            <li>
                <a href="{{ path('register') }}">
                    <span>Регистрация</span><img src="/assets/img/fish-bone (1).svg"/>
                </a>
            </li>
        {% endif %}
        <li><a href="/Privacy_policy.pdf" target="_blank">Privacy policy</a></li>
        <li><a href="/Terms_of_condition.pdf" target="_blank">Terms of condition</a></li>
      {#  <li class="toggle-mobile {% if mob_active %}active-nav{% endif %}">Ассортимент <span> &nbsp;></span></li>
        <div class="mobile-dropdown">
        {{ render(controller('App\\Controller\\CategoryController::renderCategories')) }}
        </div>#}
    </ul>
    <div class="curtain-info">
        <span id="mobile-basket">
            <i class=" fas fa-shopping-cart"></i>
            <span class="mob-basket">{{app.session.get('totalSum')|default(0)}} ₴</span>
        </span>
        <a href="tel:+38(063)612-62-82" id="contact-num" target="_blank"><span id="phone">+38(063)612-62-82</span></a>
        <a href="mailto:lipinskieraki@gmail.com" id="contact-email" target="_blank"><span id="email">lipinskieraki@gmail.com</span></a>
        {#<span id="address">вулиця Сергія Данеченко 12, Киев</span>#}

    </div>

    <div class="curtain-line"></div>
</div>
