{% for supply in supplies %}
    <div class="col-md-4 col-sm-12 col-12" style="margin-bottom: 10px;">
        <div class="card" style="width: 20rem;">
            <img src="{{ supply.product.titlePhotoPath }}" style="object-fit: contain" class="card-img-top" alt="main-photo">
            <div class="card-body">
                <h5 class="card-title">{{ supply.product.name }}</h5>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ supply.product.unit }}</div>
                            </div>
                            <input id="quantity-{{ supply.id }}" type="text" class="form-control" id="inlineFormInputGroupUsername" value="{{ supply.quantity }}"><i id="success-{{ supply.id }}" class="far fa-check-circle" style="display: none;  font-size: 36px; color: #31b405;"></i>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 20px">
                    <div class="col-6">
                        <button data-id="{{ supply.id }}" class="btn btn-primary editSupply" style="width:100%;">Обновить поставку</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}