{% extends 'admin_base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('rating') }}
    <style>
        .badge-pill {
            position: absolute;
            left: 7px;
            top: 15px;

        }

        .delFromRate {
            position: absolute;
            right: 10px;
            top: 15px;
            color: red;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block body %}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    {{ include('elements/admin_nav.html.twig', {'active': 'rating'}) }}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            {{ include('elements/admin_header.html.twig') }}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">На этой неделе покупают</h1>
                <p class="mb-4">Тут можно составить рэйтинг товаров , которые будут отображаться в секции "На этой неделе покупают"</p>
                <hr class="sidebar-divider">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Рэйтинг</h6>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-10 col-lg-8">
                                <div class="card">
                                    <div class="card-body border border-danger rounded">
                                        <ul class="list-group text-center" id="sortable">
                                            {% if results is not empty %}
                                                {% for result in results %}
                                                    <li class="list-group-item ui-state-default"
                                                        data-id="{{ result.getDataForRating() }}"><span
                                                                class="badge badge-pill badge-primary">{{ result.rating }}</span>{{ result.name }}
                                                        <i class="fas fa-times delFromRate"></i></li>
                                                {% endfor %}
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Продукты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Рецепты</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card-body">
                                    <ul class="nav nav-pills ">
                                        <li class="nav-item">
                                            <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search  live-search-form"
                                                  data-url="products">
                                                <div class="input-group">
                                                    <div class="ui-widget">
                                                        <input type="text"
                                                               class="form-control bg-light border-0 small searchItem"
                                                               placeholder="Введите имя продукта" aria-label="Search"
                                                               name="name" aria-describedby="basic-addon2">
                                                    </div>
                                                    <div class="input-group-append">
                                                        <div class="btn btn-light search-name">
                                                            <i class="fas fa-search fa-sm"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Обложка</th>
                                            <th>Название</th>
                                            <th>Категория</th>
                                            <th>Цена/к-во</th>
                                            <th>Размерность</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div>
                                        <h1>Введите название продукта</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="card-body">
                                    <ul class="nav nav-pills ">
                                        <li class="nav-item">
                                            <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search live-search-form"
                                                  data-url="receipts">
                                                <div class="input-group">
                                                    <div class="ui-widget">
                                                        <input type="text"
                                                               class="form-control bg-light border-0 small searchItem"
                                                               placeholder="Введите имя рецепта" aria-label="Search"
                                                               name="name" aria-describedby="basic-addon2">
                                                    </div>
                                                    <div class="input-group-append">
                                                        <div class="btn btn-light search-name">
                                                            <i class="fas fa-search fa-sm"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Обложка</th>
                                            <th>Название</th>
                                            <th>Категория</th>
                                            <th>Цена/к-во</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <h1>Введите название рецепта</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        {{ include('elements/admin_footer.html.twig') }}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('autocomplete') }}
    {{ encore_entry_script_tags('rating') }}
{% endblock %}
