{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <header class="mini">
            <div class="header-raki-logo">
                <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
            </div>
            <div class="user_basket-mini">
                {% set sum = app.session.get('totalSum') %}
                <div id="basket-container">
                     <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
                </div>
                <embed id="user" type="image/svg+xml" src="/assets/img/avatar-red.svg"/>
            </div>
        </header>
        <div class="red-content">
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                {% set session = app.session.get('cart') %}
                {% dump(session) %}{% dump(sum) %}
                {% if session == null %}
                    <h3 style="color: white">Ваша корзина пустая!</h3>
                {% endif %}
                {% for cartItem in session %}
                    <div class="order-container">
                        <div class="order">
                            <img src="{{ cartItem.item.getTitlePhotoPath }}" alt="">
                            <div class="order-product-name" data-name="{{ cartItem.item.slug }}">
                                {{ cartItem.item.name }}
                            </div>
                            <div class="quantity">
                                <span class="plus">+</span>
                                <div class="quantity-res">
                                    <input type="number" value="{{ cartItem.quantity }}">
                                </div>
                                <span class="minus">-</span>
                            </div>
                            <div class="order-price">
                                {{ cartItem.item.price }} <span class="hryvnas">₴</span>
                            </div>
                        </div>
                        <img class="delete-from-cart" data-name="{{ cartItem.item.slug }}" type="image/svg+xml" src="{{ asset('assets/img/delete.svg') }}"/>
                    </div>
                {% endfor %}
            </div>
            <div class="summary">
                <div class="final">
                    Итог: <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
                </div>
                <div class="checkout">Оформить заказ</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="container-inside">
                <div class="row footer-row">
                    <div class="logos">
                        <div class="footer-raki-logo">
                            <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
                        </div>
                        <div class="footer-octo-logo">
                            <embed type="image/svg+xml" src="/assets/img/octologo.svg"/>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="contact-info">
                            <span id="contact-num">+38(000)000-00-00</span>
                            <span id="contact-email">rakiInf@gmail.com</span>
                        </div>
                        <div class="contact-social">
                            <embed type="image/svg+xml" src="/assets/img/instagram.svg"/>
                            <embed type="image/svg+xml" src="/assets/img/telegram-logo.svg"/>
                            <embed type="image/svg+xml" src="/assets/img/viber-logo.svg"/>
                        </div>
                    </div>
                    <div class="footer-nav">
                        <ul>
                            <li class="active-nav">
                                Главная
                            </li>
                            <li>
                                Живые раки
                            </li>
                            <li>
                                Жареные раки
                            </li>
                            <li>
                                Вареные раки
                            </li>
                            <li>
                                Ассортимент
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="red-line">
        </div>
    </footer>
{% endblock %}