{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block body %}
    <div class="container">
        {% set sum = app.session.get('totalSum') %}
        {% include 'elements/small_header.html.twig' %}
        <main>
        <div class="red-content">
            <img id="close-modal" class="back-to-main" src="/assets/img/close-modal.svg"/>
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                {% set session = app.session.get('cart') %}
{#                {% dump(session) %}{% dump(sum) %}#}
                {% if session == null %}
                    <h3>Ваша корзина пустая!</h3>
                {% endif %}
                {% for cartItem in items %}
                    <div class="order-container">
                        <div class="order">
                            {% if cartItem.item.type == 'product' %}
                                {% if cartItem.item.TitlePhotoPath is not null %}
                                    <img src="{{ cartItem.item.TitlePhotoPath }}" alt="photo">
                                {% else %}
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                {% endif %}
                            {% else %}
                                {% set mimeType = getMimeType(cartItem.item.titlePhoto) %}
                                {% if cartItem.item.TitlePhotoPath is not null and mimeType != "video/mp4" %}
                                    <img src="{{ cartItem.item.TitlePhotoPath }}" alt="photo">
                                {% elseif cartItem.item.getPhoto is not empty %}
                                    <img src="/uploads/receipts/{{ cartItem.item.getPhoto.first.hash }}" alt="photo">
                                {% else %}
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                {% endif %}
                            {% endif %}
                            <div class="order-product-name item-name" data-name="{{ cartItem.item.type == 'receipt'
                            ? cartItem.product.ProductSize ? 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id : 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id
                            : 'product-' ~ cartItem.item.id }}">
                                {{ cartItem.item.name }}&nbsp;{{ cartItem.item.type == 'receipt' ?  cartItem.product.ProductSize : ''}}
                            </div>
                            <div class="quantity">
                                <span class="plus cart-plus">+</span>
                                <div class="quantity-res cart-res">
                                    <input type="number" value="{{ cartItem.quantity }}">
                                </div>
                                <span class="minus cart-minus">-</span>
                            </div>
                            <div class="order-price">
                                {{ cartItem.item.type == 'receipt' ? cartItem.item.price + cartItem.product.price : cartItem.item.price  }} ₴/{{ cartItem.item.unit }}
                            </div>
                        </div>
                        <div  class="delete-from-cart" data-name="{{ cartItem.item.type == 'receipt'
                        ? cartItem.product.ProductSize ? 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id : 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id
                        : 'product-' ~ cartItem.item.id }}" >
                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M23.4797 11.7226L20.8182 11.625L20.2412 27.3821L22.9027 27.4794L23.4797 11.7226Z" fill="#D52B2B"/>
                                    <path d="M18.3321 11.6736H15.6689V27.4308H18.3321V11.6736Z" fill="#D52B2B"/>
                                    <path d="M13.7589 27.3817L13.1819 11.6245L10.5205 11.7222L11.0976 27.4793L13.7589 27.3817Z" fill="#D52B2B"/>
                                    <path d="M1.1543 5.10449V7.76765H3.92935L6.13085 32.7852C6.19121 33.4727 6.76695 34 7.45711 34H26.4984C27.1887 34 27.7648 33.4723 27.8247 32.7847L30.0263 7.76765H32.8462V5.10449H1.1543ZM25.2788 31.3369H8.67647L6.60273 7.76765H27.353L25.2788 31.3369Z" fill="#D52B2B"/>
                                    <path d="M21.3497 0H12.65C11.4262 0 10.4307 0.995562 10.4307 2.2193V6.43603H13.0938V2.66316H20.9059V6.43603H23.569V2.2193C23.569 0.995562 22.5734 0 21.3497 0Z" fill="#D52B2B"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="34" height="34" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% set cart = app.session.get('cart') %}
            {% if cart != null %}
                <div class="summary">
                    <div class="final">
                        Итог: <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
                    </div>
                    <div class="checkout">Оформить</div>
                </div>
            {% endif %}
        </div>
        </main>
    </div>
    <div id="overlay">
        {% include 'elements/modal.html.twig' with {'special_class' : 'product-modal'} %}
    </div>
   {% include 'elements/__footer.html.twig' with { 'active': false } %}
   {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}