{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% set sum = app.session.get('totalSum') %}
        {% include 'elements/small_header.html.twig' %}
        <div class="red-content">
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                {% set session = app.session.get('cart') %}
                {% dump(session) %}{% dump(sum) %}
                {% if session == null %}
                    <h3 style="color: white">Ваша корзина пустая!</h3>
                {% endif %}
                {% for cartItem in items %}
                    <div class="order-container">
                        <div class="order">
                            <img src="{{ cartItem.item.getTitlePhotoPath }}" alt="">
                            <div class="order-product-name item-name" data-name="{{ cartItem.item.type == 'receipt'
                            ? cartItem.product.ProductSize ? 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id : 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id
                            : 'product-' ~ cartItem.item.id }}">
                                {{ cartItem.item.name }}&nbsp;{{ cartItem.item.type == 'receipt' ?  cartItem.product.ProductSize : ''}}
                            </div>
                            <div class="quantity">
                                <span class="plus cart-plus">+</span>
                                <div class="quantity-res cart-res">
                                    <input type="number" value="{{ cartItem.quantity }}">
                                </div>
                                <span class="minus cart-minus">-</span>
                            </div>
                            <div class="order-price">
                                {{ cartItem.item.price }} <span class="hryvnas">₴</span>
                            </div>
                        </div>
                        <img class="delete-from-cart" data-name="{{ cartItem.item.type == 'receipt'
                        ? cartItem.product.ProductSize ? 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id : 'receipt-' ~ cartItem.item.id ~ '-' ~ cartItem.product.id
                        : 'product-' ~ cartItem.item.id }}" type="image/svg+xml" src="{{ asset('assets/img/delete.svg') }}"/>
                    </div>
                {% endfor %}
            </div>
            <div class="summary">
                <div class="final">
                    Итог: <span class="sum">{% if sum == null %}0 ₴{% else %}{{ sum }} ₴{% endif %}</span>
                </div>
                <div class="checkout">Оформить заказ</div>
            </div>
        </div>
    </div>
   {% include 'elements/__footer.html.twig' with { 'active': false } %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}