{% for item in items %}
    {% if item.status %}
        <div class="product-card loading">
            <img src="{{ item.titlePhotoPath }}" alt="">
            <div class="card-content">
                <h4>{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <span class="price">₴ {{ item.price }}</span>
                <div class="in_basket" data-product-location="{{ path('category_show',{'slug': item.slug}) }}">
                    Подробнее
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}



