{% for item in items %}
    {% if item.status %}
        <div class="product-card loading">
            <img src="{{ item.titlePhotoPath }}" alt="">
            <div class="card-content">
                <h4>{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <div class="main-info">
                    <span class="price">₴ {{ item.price }}</span>
                    <div class="in_basket"
                         data-product-location="{{ path('showItem',{'category_slug': item.category.slug,'slug': item.slug}) }}">
                        Подробнее
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}



