{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
    <style>
        @media  (max-height: 823px) and (min-height: 731px){
            footer{
                position: absolute;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    {% include 'elements/additionalNav.html.twig' %}
                    <div class="small-red-content text-center mb-5 attention-height">
                        <embed id="lobster-2" type="image/svg+xml" src="/assets/img/lobster.svg"/>
                        <div class="user-title mt-4">
                            <span class="attention-subtitle">Что бы поменять пароль</span><br>
                            <span class="attention-title">Ведите свою почту</span>
                        </div>
                        <div class="resetpass-container mt-5">
                            {{ form_start(form, {'attr': {'class':'enter-email'}}) }}
                                <div>
                                    {{ form_widget(form.email, {'attr': {'class':'user-input forgot-pass-input'}}) }}
                                </div>
                                    <button type="submit" class="login-button btn mt-4 mb-3">Отправить</button>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
{% endblock %}
