{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form_start(form) }}
            {% if email is defined %}
                {{ form_row(email) }}
            {% elseif oldPassword is defined %}
                {{ form_row(oldPassword) }}
            {% elseif password is defined %}
                {{ form_row(password) }}
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

