{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    <div class="additional-nav">
                        <div class="additional-nav-container">
                            <div class="additional-nav-item">
                                Живые раки
                            </div>
                            <div class="additional-nav-item">
                                Вареные раки
                            </div>
                            <div class="additional-nav-item">
                                Жареные раки
                            </div>
                        </div>
                    </div>
                    <div class="small-red-content text-center  attention-height">
                        <embed id="lobster-2" type="image/svg+xml" src="/assets/img/lobster.svg"/>
                        <div class="user-title mt-4 mb-5">
                            <span class="attention-title">Введите новый пароль</span>
                        </div>
                        <div class="resetpass-container">
                            {{ form_start(form, {'attr': {'class':'forgot-pass'}}) }}
                            <div>
                                {{ form_widget(form.password.first, {'attr': {'class':'user-input forgot-pass-input'}}) }}
                            </div>
                            <div>
                                {{ form_widget(form.password.second, {'attr': {'class':'user-input forgot-pass-input'}}) }}
                            </div>
                                <button type="submit" class="login-button btn mt-4 mb-3">Изменить</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
{% endblock %}
