{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style>
        .slick-slide {
            margin: 0 13px;
            width: 150px;
        }
        /* the parent */
        .slick-list {
            margin: 0;
        }
        .slick-track{

        }
    </style>
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        {% set sum = app.session.get('totalSum') %}
        {% include 'elements/small_header.html.twig' %}
        <main>
            <div class="additional-nav">
                <div class="additional-nav-container">
                    <div class="additional-nav-item nav-item-grey">
                        Личные данные
                    </div>
                    <div class="additional-nav-item nav-item-grey red">
                        История заказов
                    </div>
                    <div class="additional-nav-item nav-item-grey">
                        Поменять пароль
                    </div>
                </div>
            </div>
            <div class="user-tabs">
                <div class="user-tab">Личные данные</div>
                <div class="user-tab user-tab-active">История заказов</div>
                <div class="user-tab user-tab-last">Поменять пароль</div>
            </div>
            <div class="user-red-content">
                <embed id="steamed-fish" type="image/svg+xml" src="/assets/img/steamed-fish.svg"/>
                <div class="user-title">
                    <span class="attention-subtitle">Не помнишь что заказал и когда? </span><br>
                    <span class="attention-title">Или хочешь повторить заказ</span>
                </div>
                <div class="history-container">
                    {% for order in orders %}
                        <div class="history-item {{ order.status != 'done' ? 'item-in-process' : ''  }}">
                            <img src="{{ order.orderDetails.0.product.TitlePhotoPath }}" class="history-item-img" alt="photo">
                            <div class="history-item-info">
                                <div class="order-id-date-status">
                                    <span class="order-id">№{{ order.id }}</span>
                                    <!-- order-cook order-delivery order-proc -->
                                    {% if order.status == 'new' %}
                                        <span class="date-status">В осмотре <span class="order-stat order-proc"></span></span>
                                    {% elseif order.status == 'payed' %}
                                        <span class="date-status">Готовится <span class="order-stat order-cook"></span></span>
                                    {% elseif order.status == 'payed' %}
                                        <span class="date-status">В пути к вам <span class="order-stat order-delivery"></span></span>
                                    {% endif %}
                                </div>
                                <div class="order-total">
                                    {{ order.totalPrice }} <span class="hryvna">₴</span>
                                </div>
                                <div class="history-actions">
                                    <div class="history-btn history-more">
                                        Подробнее
                                    </div>
                                    {% set user = app.user %}
                                    <div class="history-btn" onclick="window.location.href='{{ path('pay', { 'id': order.id }) }}'">Оплатить</div>
                                    <div class="history-btn">Отменить</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
{#                    <div class="history-item">#}
{#                        <img src="/assets/img/test.jpg" class="history-item-img" alt="">#}
{#                        <div class="history-item-info">#}
{#                            <div class="order-id-date-status">#}
{#                                <span class="order-id">№0166610</span>#}
{#                                <span class="date-status">26/06/2019</span>#}
{#                            </div>#}
{#                            <div class="order-total">#}
{#                                5500 <span class="hryvna">₴</span>#}
{#                            </div>#}
{#                            <div class="history-actions">#}
{#                                <div class="history-btn history-more">#}
{#                                    Подробнее#}
{#                                </div>#}
{#                                <div class="history-btn">Заказать</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="history-item">#}
{#                        <img src="/assets/img/test.jpg" class="history-item-img" alt="">#}
{#                        <div class="history-item-info">#}
{#                            <div class="order-id-date-status">#}
{#                                <span class="order-id">№0166610</span>#}
{#                                <span class="date-status">26/06/2019</span>#}
{#                            </div>#}
{#                            <div class="order-total">#}
{#                                5500 <span class="hryvna">₴</span>#}
{#                            </div>#}
{#                            <div class="history-actions">#}
{#                                <div class="history-btn history-more">#}
{#                                    Подробнее#}
{#                                </div>#}
{#                                <div class="history-btn">Заказать</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
            <div class="attention-promotion">
                <div class="bonuses-in-attention">
                    100/<span class="bonus-bold">2000</span>
                </div>
                <div class="promotion-title">
                    <span class="attention-subtitle">Купи товаров на 2000 грн за всё время</span>
                    <span class="attention-title">Получи Рыбу в подарок</span>
                </div>
                <div class="scale">
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                </div>
            </div>
        </main>
    </div>
    {% include 'elements/__footer.html.twig' with { 'active': false } %}
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false} %}
    <div id="overlay">
        <div class="order-more">

        </div>
    </div>
{% endblock %}