{% extends 'base.html.twig' %}

{% block title %}
    Раки в Киеве ➤ Раковарня Lipiskie Raki
{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': 'home'} %}
                <main>
                    <img src="{{ asset('assets/img/plate.png') }}" alt="" id="plate">
                    <div id="promotion">
                        <div class="promotion-text">
                            {% if messages is not empty %}
                                {% for message in messages %}
                                    <span id="mess-{{ loop.index }}">
                                    {{ message.message }}
                                </span>
                                {% endfor %}
                            {% else %}
                                Липинские раки самые вкусные в киеве!
                            {% endif %}
                        </div>
                        <div id="slider-points">
                            <div class="ellipse ellipse-active" id="ell-1"></div>
                            <div class="ellipse" id="ell-2"></div>
                            <div class="ellipse" id="ell-3"></div>
                            <div class="ellipse" id="ell-4"></div>
                            <div class="ellipse" id="ell-5"></div>
                        </div>
                    </div>
                    <div class="additional-special">
                        <div class="additional-cart">{% if app.session.get('totalSum') == null %}0 ₴{% else %}{{ app.session.get('totalSum') }} ₴{% endif %}</div>
                        <!--<div class="additional-fo">
                            Быстрый заказ
                            <div></div>
                        </div> -->
                    </div>
                    <div class="additional-nav">
                        <div class="additional-nav-container">
                            <div class="additional-nav-item" data-url="/category-zhivye-raki">
                                Живые раки
                            </div>
                            <div class="additional-nav-item" data-url="/category-varenye-raki">
                                Вареные раки
                            </div>
                            <div class="additional-nav-item" data-url="/category-zharenye-raki">
                                Жареные раки
                            </div>
                        </div>
                    </div>
                    <div class="rating">
                        <h2>На этой неделе покупают</h2>
                        <div class="row row-rating">
                            {% for item in items %}
                                <div class="product-card"
                                     onclick="window.location.href='{{ path('showItem',{'category_slug': item.category.slug,'slug': item.slug}) }}'" style="cursor: pointer">
                                    {% if item.type == 'product' %}
                                        {% if item.TitlePhotoPath is not null %}
                                            <img src="{{ item.TitlePhotoPath }}" alt="photo">
                                        {% else %}
                                            <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                        {% endif %}
                                    {% else %}
                                        {% set mimeType = getMimeType(item.titlePhoto) %}
                                        {% if item.TitlePhotoPath is not null and mimeType != "video/mp4" %}
                                            <img src="{{ item.TitlePhotoPath }}" alt="photo">
                                        {% elseif item.getPhoto is not empty %}
                                            <img src="/uploads/receipts/{{ item.getPhoto.first.hash }}" alt="photo">
                                        {% else %}
                                            <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                        {% endif %}
                                    {% endif %}
                                    <div class="card-content">
                                        <h4>{{ item.name }}</h4>
                                        {#<p>{{ item.description|truncate(70) }}</p>#}
                                        <div class="main-info">
                                            <span class="price">{{ item.price }} ₴</span>
                                            <div class="in_basket"
                                                 data-product-location="{{ path('showItem',{'category_slug': item.category.slug,'slug': item.slug}) }}">
                                                Подробнее
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </main>
            </div>
            <div class="page-text">
                <div id="main-photo">
                </div>
                <div id="main-text">
                    <div id="main-text-container">
                        <h1>Раки в Киеве </h1>
                        <p>Встреча с друзьями или семейный праздник. Залог хорошого события правильное гастрономического сопровождения. И пока большинство наших соотечественников довольствуется банальными закусками, суши или пиццей настоящие гурманы знают - лучший выбор в качестве закуски или основного блюда это раки. Ведь раки это то, что прекрасно сосчитается с любым алкоголем, атмосферой и компанией!
                            Раковарня «Липинские Раки», в свою очередь, готова угождать и угощать каждого. Имея в арсенале 30 рецептов вы сможете подобрать раков на любой вкус и случай.
                            Большие или маленькие, Жареные раки, варёные раки, а если пожелаете -доставим живых или даже составим из них букет. Ну а если у вас уже текут слюнки и разбегаются глаза - мы с радостью поможем с выбором. Уже полтора года Раковарня «липинские раки» больше всего заботится о том,что бы наши клиенты оставались сытыми и довольными. Потому, самые вкусные Липинские раки прибывают чистыми и свежими из самых чистых водоемов Киевской, Черкасской, Херсонской и других областей, что является залогом качества вкуса наших раков. У Липинских раков есть только один минус - их всегда хочется есть ещё!
                        </p>
                    </div>
                    <div class="fast-order-big custom-button readmore">
                        Большое текста
                    </div>
                </div>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': 'home'} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false} %}
    </section>
{% endblock %}


