{% extends 'base.html.twig' %}

{% block title %}
    Lipinskie Raki
{% endblock %}

{% block body %}
<section class="wrapper">
    <div class="container">
        <div class="container-inside">
           {% include 'elements/__header.html.twig' with {'active': 'home'} %}
            <main>
                <img src="{{ asset('assets/img/plate.png') }}" alt="" id="plate">
                <div id="promotion">
                    <div class="promotion-text">
                        {% set message = random(messages) %}
                        {{ message.message }}
                    </div>
                    <div id="slider-points">
                        <div class="ellipse ellipse-active"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                    </div>
                </div>
                <div class="additional-special">
                    <div class="additional-cart">{% if app.session.get('totalSum') == null %}0 ₴{% else %}{{ app.session.get('totalSum') }} ₴{% endif %}</div>
                    <!--<div class="additional-fo">
                        Быстрый заказ
                        <div></div>
                    </div> -->
                </div>
                <div class="additional-nav">
                    <div class="additional-nav-container">
                        <div class="additional-nav-item">
                            Живые раки
                        </div>
                        <div class="additional-nav-item">
                            Вареные раки
                        </div>
                        <div class="additional-nav-item">
                            Жареные раки
                        </div>
                    </div>
                </div>
                <div class="rating">
                    <h2>На этой недели покупают:</h2>
                    <div class="row row-rating">
                    {% for item in items %}
                        <div class="product-card">
                            {% if item.type == 'product' %}
                                <img src="{{ item.TitlePhotoPath }}" alt="photo">
                            {% else %}
                                    {% if item.photo is not empty %}
                                        <img src="/uploads/receipts/{{ item.photo.0.hash }}" alt="photo">
                                    {% else %}
                                        <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                    {% endif %}
                            {% endif %}

                            <div class="card-content">
                                <h4>{{ item.name }}</h4>
                                <p>{{ item.description|truncate(70) }}</p>
                                <div class="main-info">
                                    <span class="price">{{ item.price }} ₴</span>
                                    <div class="in_basket" data-product-location="{{ path('showItem',{'category_slug': item.category.slug,'slug': item.slug}) }}">Подробнее</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </main>
        </div>
        <div class="page-text">
            <div id="main-photo">
            </div>
            <div id="main-text">
                <div id="main-text-container">
                    <h1>Купи тонну раков, и получи что-то</h1>
                    <p>
                        Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                        Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur.
                    </p>
                </div>
                <div class="fast-order-big custom-button">
                    Быстрый заказ
                </div>
            </div>
        </div>
    </div>
    {% include 'elements/__footer.html.twig' with {'active': 'home'} %}
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
</section>
{% endblock %}


