{% extends 'base.html.twig' %}

{% block title %}
    Lipinskie Raki
{% endblock %}

{% block body %}
<section class="wrapper">
    <div class="container">
        <div class="container-inside">
           {% include 'elements/__header.html.twig' with {'active': 'home'} %}
            <main>
                <img src="{{ asset('assets/img/plate.png') }}" alt="" id="plate">
                <div id="promotion">
                    <div id="promotion-text">
                        {% set message = random(messages) %}
                        {{ message.message }}
                    </div>
                    <div id="slider-points">
                        <div class="ellipse ellipse-active"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                        <div class="ellipse"></div>
                    </div>
                </div>
                <div class="rating">
                    <h2>На этой недели покупают:</h2>
                    {% for item in items %}
                    {% if loop.index0 is divisible by(3) %}
                    <div class="row">
                    {% endif %}
                        <div class="col-4">
                            <div class="product-card">
                                <img src="{{ item.TitlePhotoPath }}" alt="">
                                <div class="card-content">
                                    <h4>{{ item.name }}</h4>
                                    <p>{{ item.description }}</p>
                                    <span class="price">{{ item.price }} ₴</span>
                                    <div class="in_basket" data-product-location="{{ path('showItem',{'category_slug': item.category.slug,'slug': item.slug}) }}">Подробнее</div>
                                </div>
                            </div>
                        </div>
                    {% if loop.index is divisible by(3) or loop.last %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </main>
        </div>
        <div class="page-text">
            <div id="main-photo">
            </div>
            <div id="main-text">
                <div id="main-text-container">
                    <h1>Купи тонну раков, и получи что-то</h1>
                    <p>
                        Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты.
                        Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur.
                    </p>
                </div>
                <div class="fast-order-big custom-button">
                    Быстрый заказ
                </div>
            </div>
        </div>
    </div>
    {% include 'elements/__footer.html.twig' with {'active': 'home'} %}
</section>
<div id="overlay" style="display: none">
    <div class="red-content">
        <div id="shopping-cart">
            <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
        </div>
        <div class="check-shopping">
            <p>
                Точно всё выбрал?
            </p>
            <h4>
                Проверяй и оформляй
            </h4>
        </div>
        <div class="cart-container cartItems">
            <div class="order">
                <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                <div class="order-product-name">
                </div>
            </div>
        </div>
        <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
     </div>
</div>
{% endblock %}


