{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block body %}
    <div class="container">
        {% set sum = app.session.get('totalSum') %}
        {% include 'elements/small_header.html.twig' %}
        <main>
            {% include 'elements/additionalNavUser.html.twig' with { 'active': 'user-reset'} %}
            <div class="user-tabs">
                <div class="user-tab" data-path="{{ path('user',{'uniqueId': app.user.uniqueId}) }}">Личные данные</div>
                <div class="user-tab" data-path="{{ path('user_orders',{'uniqueId': app.user.uniqueId}) }}">История заказов</div>
                <div class="user-tab user-tab-last user-tab-active" data-path="{{ path('resetPass',{'uniqueId': app.user.uniqueId}) }}">Поменять пароль</div>
            </div>
            <div class="user-red-content small-height">
                <embed id="lobster" type="image/svg+xml" src="/assets/img/lobster.svg"/>
                <div class="user-title text-center mt-4">
                    <span class="attention-title reset-pass-title">Введите старый пароль</span>
                </div>
                <div class="resetpass-container">
                    {{ form_start(form, {'attr': {'class': 'reset-password'}}) }}
                        <div>
                            {{ form_widget(form.oldPassword, {'attr': {'class': 'user-input reset-input'}}) }}
                        </div>
                    <div class="forgot-pass reset-forgot-pass"><a href="{{ path('enterEmail') }}">Забыли пароль?</a></div>
                        <div class="newpass">
                            Введите новый пароль
                        </div>
                    <div>
                        {{ form_widget(form.password.first, {'attr': {'class': 'user-input reset-input'}}) }}
                    </div>
                    <div>
                        {{ form_widget(form.password.second, {'attr': {'class': 'user-input reset-input'}}) }}
                    </div>
                    <button type="submit"  class="login-button btn mt-4 mb-3">Изменить</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="attention-promotion">
                <div class="bonuses-in-attention">
                    100/<span class="bonus-bold">2000</span>
                </div>
                <div class="promotion-title">
                    <span class="attention-subtitle">Купи товаров на 2000 грн за всё время</span>
                    <span class="attention-title">Получи Рыбу в подарок</span>
                </div>
                <div class="scale">
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                </div>
            </div>
        </main>
    </div>
    {% include 'elements/__footer.html.twig' with { 'active': false } %}
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false} %}
{% endblock %}
{# {{ form_start(form) }}
                {% if email is defined %}
                    {{ form_row(email) }}
                {% elseif oldPassword is defined %}
                    {{ form_row(oldPassword) }}
                {% elseif password is defined %}
                    {{ form_row(password) }}
                {% endif %}
   {{ form_end(form) }}#}
