{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': active } %}
            </div>
                <main>
                    <div class="additional-special">
                        <div class="additional-cart">{% if app.session.get('totalSum') == null %}0 ₴{% else %}{{ app.session.get('totalSum') }} ₴{% endif %}</div>
                        <!--<div class="additional-fo">
                            Быстрый заказ
                            <div></div>
                        </div> -->
                    </div>
                    {% include 'elements/additionalNav.html.twig' %}
                    <div class="product-container">
                        <div class="product-photo">
                            {% if item.titlePhoto is not null %}
                            <img src="{{ item.titlePhotoPath }}" alt="">
                            {% else %}
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="img">
                            {% endif %}
                            {% for addphoto in item.photo %}
                                <img src="/uploads/products/{{ addphoto.hash }}" alt="img">
                            {% endfor %}
                        </div>
                        <div class="product-info">
                            <div class="product-size">
                                <div class="size-simple-product"> {# size-xl-product #}
{#                                    <span class="size-xx l-0">xx</span><span class="size-l l-20">L</span>#}
{#                                    <span class="size-x l-0">x</span><span class="size-l l-20">L</span>#}
                                      <span class="size">S</span>
                                </div>
                                <div class="product-size-info in-product">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                        <span class="grams weight">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/weight.svg"/> <span>- до 250 gr.</span>
                                        </span>
                                </div>
{#                                <div class="percent-promotion">#}
{#                                    <span id="percent">#}
{#                                        -5 %#}
{#                                    </span>#}
{#                                    <span id="percent-date">#}
{#                                        до 10/11/12#}
{#                                    </span>#}
{#                                </div>#}
                            </div>
                            <div class="description">
                               {{ item.description }}
                            </div>
                            {% set session = app.session.get('chooseOrder') %}
                            {% if session is null %}
                            <div class="today-or-tomorrow">
                                <div class="tor-title">
                                    На когда заказ:
                                </div>
                                <div class="choose-type-container" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                    <div class="custom-button choose-type" data-order="today" >
                                        Сегодня
                                    </div>
                                    <div class="custom-button choose-type transparent-choose-type" data-order="tomorrow">
                                        Другой день
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="product-price">
                                {{ item.price }} грн / кг.{#<span class="special-price">550 грн</span>#}
                            </div>
                            {% if session is not null %}
                            <div class="product-to-basket">
                                <div class="quantity">
                                    <span data- class="plus item-plus">+</span>
                                    <div class="quantity-res item-res">
                                        <input type="number" value="1">
                                    </div>
                                    <span class="minus item-minus">-</span>
                                </div>
                                    <div class="custom-button add-basket" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                        Добавить в корзину
                                    </div>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                Добавлено в корзину!
                                            </div>

                                        </div>
                                    </div>
                                </div>
{#                                    <div class="custom-button order-type show-modal" data-name="{{ item.id }}" data-type="{{ item.getType }}">#}
{#                                        Добавить в козину#}
{#                                    </div>#}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="additional-products">
                        <div class="see-also">
                            Посмотри так же
                        </div>
                        <div class="additional-products-row">
                            {% for additionalItem in item.receiptSales %}
                                <div class="product-card additional-product-card">
                                    {% if additionalItem.titlePhotoPath is not null and getMimeType(additionalItem.titlePhoto) != "video/mp4" %}
                                        <img src="{{ additionalItem.titlePhotoPath }}" alt="photo">
                                    {% elseif additionalItem.getPhoto is not empty %}
                                        <img src="/uploads/receipts/{{ additionalItem.getPhoto.first.hash }}">
                                    {% else %}
                                        <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                    {% endif %}
                                    <div class="card-content">
                                        <h4>{{ additionalItem.name }}</h4>
                                        {#<p>{{ additionalItem.description }}</p>#}
                                        <div class="main-info">
                                            <span class="price">{{ additionalItem.price }} ₴</span>
                                            <div class="in_basket" data-product-location="{{ path('showItem',{'category_slug': additionalItem.category.slug,'slug': additionalItem.slug}) }}">Подробнее</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for additionalItem in item.products %}
                                <div class="product-card additional-product-card">
                                    {% if additionalItem.titlePhoto is not null %}
                                        <img src="/uploads/products/{{ additionalItem.titlePhoto }}">
                                    {% else %}
                                        <img src="{{ asset('assets/img/test.jpg') }}" >
                                    {% endif %}
                                    <div class="card-content">
                                        <h4>{{ additionalItem.name }}</h4>
                                        {#<p>{{ additionalItem.description }}</p>#}
                                        <div class="main-info">
                                            <span class="price">{{ additionalItem.price }} ₴</span>
                                            <div class="in_basket" data-product-location="{{ path('showItem',{'category_slug': additionalItem.category.slug,'slug': additionalItem.slug}) }}">Подробнее</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </main>
        </div>
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
        {% include 'elements/__footer.html.twig' with {'active': active } %}
        <div id="overlay">
            {% include 'elements/modal.html.twig' with {'special_class' : 'product-modal'} %}
        </div>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
{% endblock %}
