{% extends 'base.html.twig' %}
{% block body %}
    <div id="category" class="container" >
        <div class="container-inside">
            {% include 'elements/__header.html.twig' with {'active': active } %}
            <main>
                <div class="products-container">
                    <div class="row products-row">
                        <div id="special-card">
                            Выбери рецепт по которому Мы приготовим для тебя раков
                        </div>
                        {% for item in items %}
                                <div class="product-card category" data-category="{{ item.category.slug }}">
                                    <img src="{{ item.titlePhotoPath }}" alt="">
                                    <div class="card-content">
                                        <h4>{{ item.name }}</h4>
                                        <p>{{ item.description }}</p>
                                        <span class="price">₴ {{ item.price }}</span>
                                        <div class="in_basket"
                                             data-product-location="{{ path('showItem',{'category_slug': item.category.slug,'slug': item.slug}) }}">
                                            Подробнее
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                    {% if items|length == 8 %}
                        <img id="down" src="{{ asset('assets/img/donw.svg') }}" alt="">
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
    {% include 'elements/__footer.html.twig' with {'active': active } %}
    <div id="overlay" style="display: none">
        <div class="red-content">
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                <div class="order">
                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                    <div class="order-product-name">
                    </div>
                </div>
            </div>
            <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
        </div>
    </div>
{% endblock %}