{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': active } %}
                <main>
                    <div class="product-container">
                        <div class="product-photo">
                            <img src="{{ item.titlePhotoPath }}" alt="">
                        </div>
                        <div class="product-info">
                            <div class="product-size">
                                <div class="size-xl-product">
                                    <span class="size-xx">xx</span><span class="size-l">L</span>
                                </div>
                                <div class="product-size-info in-product">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                        <span class="grams weight">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/weight.svg"/> <span>- до 250 gr.</span>
                                        </span>
                                </div>
                                <!--<div class="percent-promotion">
                                    <span id="percent">
                                        -5 %
                                    </span>
                                    <span id="percent-date">
                                        до 10/11/12
                                    </span>
                                </div> --->
                            </div>
                            <div class="description">
                               {{ item.description }}
                            </div>
                            <div class="product-price">
                                {{ item.price }} грн / кг.<!--<span class="special-price">550 грн</span> -->
                            </div>
                            <div class="product-to-basket">
                                <div class="quantity">
                                    <span data- class="plus item-plus">+</span>
                                    <div class="quantity-res item-res">
                                        <input type="number" value="1">
                                    </div>
                                    <span class="minus item-minus">-</span>
                                </div>
                                {% set session = app.session.get('chooseOrder') %}
                                {% if session is not null %}
                                    {% dump(session) %}
                                    <div class="custom-button add-basket" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                        Добавить в козину
                                    </div>
                                {% else %}
                                    <div class="custom-button order-type show-modal" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                        Добавить в козину
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="additional-products">
                        <div class="see-also">
                            Посмотри так же
                        </div>
                        <div class="row additional-products-row">
                            <div class="col-4">
                                  <div class="product-card">
                                        <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                        <div class="card-content">
                                            <h4>Живой рак вкусный прекрасный</h4>
                                            <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                            <span class="price">₴ 220</span>
                                            <div class="in_basket" >В корзину</div>
                                        </div>
                                 </div>
                            </div>
                            <div class="col-4">
                                <div class="product-card">
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                    <div class="card-content">
                                        <h4>Живой рак вкусный прекрасный</h4>
                                        <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="product-card">
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                    <div class="card-content">
                                        <h4>Живой рак вкусный прекрасный</h4>
                                        <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': active } %}
        <div id="overlay">
            <div class="modal-window pt-10 text-center">
                <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
                <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
                <span class="attention-title">Выбери на когда тебе нужны раки!</span><br>
                <span class="attention-subtitle">Что бы мы знали точно , есть ли они на складе</span>
                <div class="choose-type-container">
                    <div class="custom-button choose-type" data-order="today">
                        Сегодня
                    </div>
                    <div class="custom-button choose-type" data-order="tomorrow">
                        Другой день
                    </div>
                </div>
            </div>
        </div>
 {% endblock %}
