{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="container-inside">
            {% include 'elements/__header.html.twig' %}
            <main>
                <div class="products-container">
                    <div class="row products-row">
                        <div id="special-card">
                            Выбери рецепт по которому Мы приготовим для тебя раков
                        </div>
                        <div class="product-card">
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                            <div class="card-content">
                                <h4>Живой рак вкусный прекрасный</h4>
                                <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                <span class="price">₴ 220</span>
                                <div class="in_basket" >В корзину</div>
                            </div>
                        </div>
                        <div class="product-card">
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                            <div class="card-content">
                                <h4>Живой рак вкусный прекрасный</h4>
                                <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                <span class="price">₴ 220</span>
                                <div class="in_basket" >В корзину</div>
                            </div>
                        </div>
                        <div class="product-card">
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                            <div class="card-content">
                                <h4>Живой рак вкусный прекрасный</h4>
                                <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                <span class="price">₴ 220</span>
                                <div class="in_basket" >В корзину</div>
                            </div>
                        </div>
                        <div class="product-card">
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                            <div class="card-content">
                                <h4>Живой рак вкусный прекрасный</h4>
                                <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                <span class="price">₴ 220</span>
                                <div class="in_basket" >В корзину</div>
                            </div>
                        </div>
                        <div class="product-card">
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                            <div class="card-content">
                                <h4>Живой рак вкусный прекрасный</h4>
                                <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                <span class="price">₴ 220</span>
                                <div class="in_basket" >В корзину</div>
                            </div>
                        </div>
                    </div>
                    <img id="down" src="{{ asset('assets/img/donw.svg') }}" alt="">
                </div>
            </main>
        </div>
    </div>
    {% include 'elements/__footer.html.twig' %}
    <div id="overlay" style="display: none">
        <div class="red-content">
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                <div class="order">
                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                    <div class="order-product-name">
                    </div>
                </div>
            </div>
            <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
        </div>
    </div>
{% endblock %}