{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class="container-inside">
                <header>
                    <div class="button-row">
                        <div id="fast-order">
                            <embed id="fish-bone" type="image/svg+xml" src="/assets/img/fish-bone (1).svg"/>
                            <span>Быстрый заказ</span>
                        </div>
                        <div class="user_basket">
                            <div id="basket-container">
                                <embed id="basket" type="image/svg+xml" src="/assets/img/online-shopping-cart.svg"/>  <span>550 грн</span>
                            </div>
                            <embed id="user" type="image/svg+xml" src="/assets/img/avatar.svg"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="logo-container">
                            <embed id="logo" type="image/svg+xml" src="/assets/img/logo.svg"/>
                            <div id="logo-text">
                                <span id="lipinskie">Lipinskie</span> <span id="raki">Raki</span>
                                <div class="crayfish">
                                    Crayfish & Delicacies
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nav-row">
                        <nav>
                            <ul>
                                <li class="active-nav">Главаня</li>
                                <li>Живые раки</li>
                                <li>Жареные раки</li>
                                <li>Вареные раки</li>
                                <li>Ассортимент</li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <main>
                    <div class="product-container">
                        <div class="product-photo">
                            <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                        </div>
                        <div class="product-info">
                            <div class="product-size">
                                <div class="size-xl-product">
                                    <span class="size-xx">xx</span><span class="size-l">L</span>
                                </div>
                                <div class="product-size-info in-product">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                        <span class="grams weight">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/weight.svg"/> <span>- до 250 gr.</span>
                                        </span>
                                </div>
                                <div class="percent-promotion">
                                    <span id="percent">
                                        -5 %
                                    </span>
                                    <span id="percent-date">
                                        до 10/11/12
                                    </span>
                                </div>
                            </div>
                            <div class="description">
                                Живые раки с киева, в большом количестве Живые раки с киева, в большом количестве
                                Живые раки с киева, в большом количестве Живые раки с киева, в большом количестве
                            </div>
                            <div class="product-price">
                                450 грн / кг.<span class="special-price">550 грн</span>
                            </div>
                            <div class="product-to-basket">
                                <div class="quantity">
                                    <span data- class="plus">+</span>
                                    <div class="quantity-res">
                                        <input type="text" value="12">
                                    </div>
                                    <span class="minus">-</span>
                                </div>
                                <div class="custom-button add-basket">
                                    Добавить в козину
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="additional-products">
                        <div class="see-also">
                            Посмотри так же
                        </div>
                        <div class="row additional-products-row">
                            <div class="col-4">
                                  <div class="product-card">
                                        <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                        <div class="card-content">
                                            <h4>Живой рак вкусный прекрасный</h4>
                                            <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                            <span class="price">₴ 220</span>
                                            <div class="in_basket" >В корзину</div>
                                        </div>
                                 </div>
                            </div>
                            <div class="col-4">
                                <div class="product-card">
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                    <div class="card-content">
                                        <h4>Живой рак вкусный прекрасный</h4>
                                        <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="product-card">
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                    <div class="card-content">
                                        <h4>Живой рак вкусный прекрасный</h4>
                                        <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="container-inside">
                    <div class="row footer-row">
                        <div class="logos">
                            <div class="footer-raki-logo">
                                <embed type="image/svg+xml" src="/assets/img/raki-footer-logo.svg"/>
                            </div>
                            <div class="footer-octo-logo">
                                <embed type="image/svg+xml" src="/assets/img/octologo.svg"/>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="contact-info">
                                <span id="contact-num">+38(000)000-00-00</span>
                                <span id="contact-email">rakiInf@gmail.com</span>
                            </div>
                            <div class="contact-social">
                                <embed type="image/svg+xml" src="/assets/img/instagram.svg"/>
                                <embed type="image/svg+xml" src="/assets/img/telegram-logo.svg"/>
                                <embed type="image/svg+xml" src="/assets/img/viber-logo.svg"/>
                            </div>
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li class="active-nav">
                                    Главная
                                </li>
                                <li>
                                    Живые раки
                                </li>
                                <li>
                                    Жареные раки
                                </li>
                                <li>
                                    Вареные раки
                                </li>
                                <li>
                                    Ассортимент
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="red-line">
            </div>
        </footer>
        <div id="overlay" style="display: none">
            <div class="red-content">
                <div id="shopping-cart">
                    <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
                </div>
                <div class="check-shopping">
                    <p>
                        Точно всё выбрал?
                    </p>
                    <h4>
                        Проверяй и оформляй
                    </h4>
                </div>
                <div class="cart-container cartItems">
                    <div class="order">
                        <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                        <div class="order-product-name">
                        </div>
                    </div>
                </div>
                <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
            </div>
        </div>
 {% endblock %}
