{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': active } %}
                <main>
                    <div class="product-container">
                        <div class="product-photo">
                            <img src="{{ product.titlePhotoPath }}" alt="">
                        </div>
                        <div class="product-info">
                            <div class="product-size">
                                <div class="size-xl-product">
                                    <span class="size-xx">xx</span><span class="size-l">L</span>
                                </div>
                                <div class="product-size-info in-product">
                                        <span class="grams">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/ruler.svg"/> <span>- до 5 см.</span>
                                        </span>
                                        <span class="grams weight">
                                            <embed id="ruler" type="image/svg+xml" src="/assets/img/weight.svg"/> <span>- до 250 gr.</span>
                                        </span>
                                </div>
                                <div class="percent-promotion">
                                    <span id="percent">
                                        -5 %
                                    </span>
                                    <span id="percent-date">
                                        до 10/11/12
                                    </span>
                                </div>
                            </div>
                            <div class="description">
                               {{ product.description }}
                            </div>
                            <div class="product-price">
                                {{ product.price }} грн / кг.<span class="special-price">550 грн</span>
                            </div>
                            <div class="product-to-basket">
                                <div class="quantity">
                                    <span data- class="plus">+</span>
                                    <div class="quantity-res">
                                        <input type="text" value="1">
                                    </div>
                                    <span class="minus">-</span>
                                </div>
                                <div class="custom-button add-basket" data-name="{{ product.slug }}" data-type="{{ product.getType }}">
                                    Добавить в козину
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="additional-products">
                        <div class="see-also">
                            Посмотри так же
                        </div>
                        <div class="row additional-products-row">
                            <div class="col-4">
                                  <div class="product-card">
                                        <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                        <div class="card-content">
                                            <h4>Живой рак вкусный прекрасный</h4>
                                            <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                            <span class="price">₴ 220</span>
                                            <div class="in_basket" >В корзину</div>
                                        </div>
                                 </div>
                            </div>
                            <div class="col-4">
                                <div class="product-card">
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                    <div class="card-content">
                                        <h4>Живой рак вкусный прекрасный</h4>
                                        <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="product-card">
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                    <div class="card-content">
                                        <h4>Живой рак вкусный прекрасный</h4>
                                        <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': active } %}
        <div id="overlay" style="display: none">
            <div class="red-content">
                <div id="shopping-cart">
                    <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
                </div>
                <div class="check-shopping">
                    <p>
                        Точно всё выбрал?
                    </p>
                    <h4>
                        Проверяй и оформляй
                    </h4>
                </div>
                <div class="cart-container cartItems">
                    <div class="order">
                        <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                        <div class="order-product-name">
                        </div>
                    </div>
                </div>
                <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
            </div>
        </div>
 {% endblock %}
