{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="container-inside">
            {% include 'elements/__header.html.twig' with {'active': active } %}
            <main>
                <div class="warn">
                    <h2>
                        Тут ты можешь купить только живых раков!
                    </h2>
                    <div class="custom-button warn-button">
                        Раки по рецепту
                    </div>
                </div>
                {% include 'elements/additionalNav.html.twig' %}
                <div class="additional-special">
                    <div class="additional-cart">{% if app.session.get('totalSum') == null %}0 ₴{% else %}{{ app.session.get('totalSum') }} ₴{% endif %}</div>
                    <!--<div class="additional-fo">
                        Быстрый заказ
                        <div></div>
                    </div> -->
                </div>
                <div class="sizes-container">
{#                    <div class="size-row">#}
                        {% set items = items|sortSizes %}
                        {% if items[0] is defined and items[0].status %}
                            <div class="size-card">
                                <div class="size-card-info">
                                    {{ getSize(items[0].ProductSize)|raw }}
                                    <div class="product-size-info">
                                        <span class="grams">
                                            <span> {{ items[0].amountPerUnit }} шт / {{ items[0].unit }}</span>
                                        </span>
                                        <span class="size-price">
                                           ₴ {{ items[0].price }}
                                        </span>
                                    </div>
                                </div>
                                <div class="size-button"
                                     onclick="window.location.href='{{ path('showItem',{'category_slug':items[0].category.slug,'slug':items[0].slug}) }}'">
                                    Перейти
                                </div>
                            </div>
                        {% endif %}
                        {% if items[1] is defined and items[1].status %}
                            <div class="size-card">
                                <div class="size-card-info">
                                    {{ getSize(items[1].ProductSize)|raw }}
                                    <div class="product-size-info">
                                        <span class="grams">
                                           <span>{{ items[1].amountPerUnit }} шт / {{ items[1].unit }}</span>
                                        </span>
                                        <span class="size-price">
                                           ₴ {{ items[1].price }}
                                        </span>
                                    </div>
                                </div>
                                <div class="size-button"
                                     onclick="window.location.href='{{ path('showItem',{'category_slug': items[1].category.slug,'slug': items[1].slug}) }}'">
                                    Перейти
                                </div>
                            </div>
                        {% endif %}
{#                    </div>#}
{#                    <div class="size-row">#}
                        {% if items[2] is defined and items[2].status %}
                            <div class="size-card">
                                <div class="size-card-info">
                                    {{ getSize(items[2].ProductSize)|raw }}
                                    <div class="product-size-info">
                                        <span class="grams">
                                           <span>{{ items[2].amountPerUnit }} шт / {{ items[2].unit }}</span>
                                        </span>
                                        <span class="size-price">
                                           ₴ {{ items[2].price }}
                                        </span>
                                    </div>
                                </div>
                                <div class="size-button"
                                     onclick="window.location.href='{{ path('showItem',{'category_slug':items[2].category.slug,'slug':items[2].slug}) }}'">
                                    Перейти
                                </div>
                            </div>
                        {% endif %}
                        {% if items[3] is defined and items[3].status%}
                        <div class="size-card">
                                <div class="size-card-info">
                                    {{ getSize(items[3].ProductSize)|raw }}
                                    <div class="product-size-info">
                                        <span class="grams">
                                           <span>{{ items[3].amountPerUnit }} шт / {{ items[3].unit }}</span>
                                        </span>
                                        <span class="size-price">
                                           ₴ {{ items[3].price }}
                                        </span>
                                    </div>
                                </div>
                                <div class="size-button"
                                     onclick="window.location.href='{{ path('showItem',{'category_slug':items[3].category.slug,'slug':items[3].slug}) }}'">
                                    Перейти
                                </div>
                        </div>
                        {% endif %}
                        {% if items[4] is defined and items[4].status%}
                        <div class="size-card">
                                <div class="size-card-info">
                                    {{ getSize(items[4].ProductSize)|raw }}
                                    <div class="product-size-info">
                                        <span class="grams">
                                            <span> {{ items[4].amountPerUnit }} шт / {{ items[4].unit }}</span>
                                        </span>
                                        <span class="size-price">
                                           ₴ {{ items[4].price }}
                                        </span>
                                    </div>
                                </div>
                                <div class="size-button"
                                     onclick="window.location.href='{{ path('showItem',{'category_slug':items[4].category.slug,'slug':items[4].slug}) }}'">
                                    Перейти
                                </div>
                        </div>
                        {% endif %}
{#                    </div>#}
                </div>
            </main>
        </div>
        <div class="page-text">
            <div id="products-with-size-photo">
            </div>
            <div id="main-text">
                <div id="main-text-container">
                    <h1>Купи тонну раков, и получи что-то</h1>
                    <p>
                        Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.
                        Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые
                        горизонты.
                        Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир,
                        tertium nоn datur.
                    </p>
                </div>
               {# <div class="fast-order-big custom-button">
                     Быстрый заказ
                </div>#}
            </div>
        </div>
    </div>
    {% include 'elements/__footer.html.twig' with {'active': active } %}
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    <div id="overlay" style="display: none">
        <div class="red-content">
            <div id="shopping-cart">
                <embed type="image/svg+xml" src="/assets/img/shopping-cart.svg"/>
            </div>
            <div class="check-shopping">
                <p>
                    Точно всё выбрал?
                </p>
                <h4>
                    Проверяй и оформляй
                </h4>
            </div>
            <div class="cart-container cartItems">
                <div class="order">
                    <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                    <div class="order-product-name">
                    </div>
                </div>
            </div>
            <embed class="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
        </div>
    </div>
{% endblock %}