{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="container-inside">
            {% include 'elements/__header.html.twig' with {'active': active } %}
        </div>
            <main>
                {% set showInBasket = true %}
                <div class="additional-special">
                    <div class="additional-cart">{% if app.session.get('totalSum') == null %}0 ₴{% else %}{{ app.session.get('totalSum') }} ₴{% endif %}</div>
{#                    <!--<div class="additional-fo">#}
{#                        Быстрый заказ#}
{#                        <div></div>#}
{#                    </div> -->#}
                </div>
                {% include 'elements/additionalNav.html.twig' %}
                <div class="receipt-container">
                    <div class="receipt-photo">
                    {% if item.titlePhoto is not null %}
                        {% if getMimeType(item.titlePhoto) == "video/mp4" %}
                            <video class="js-player"  allow="autoplay" loop>
                                <source src="{{ item.TitlePhotoPath }}" type="video/mp4"/>
                            </video>
                        {% else %}
                            <img src="{{ item.titlePhotoPath }}" alt="img">
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('assets/img/test.jpg') }}" alt="img">
                    {% endif %}
                    {% for addphoto in item.photo %}
                        <img src="/uploads/receipts/{{ addphoto.hash }}" alt="img">
                    {% endfor %}
                    </div>
                   {# <div class="receipt-photo">
                        <img src="/uploads/receipts/{{ item.titlePhoto }}" alt="img">
                    </div>#}
                    <div class="receipt-info">
                        <div class="receipt-name" {% if item.products.count == 1 and item.products[0].ProductSize is null %} data-related="{{ item.products[0].id }}"{% endif %}>
                            {{ item.name }}
                        </div>
                        <div class="description">
                            {{ item.description }}
                        </div>
                        {% set session = app.session.get('chooseOrder') %}
                        {% if session is not null %}
                            {% if item.products.first.productSize is not null %}
                                {% if sizes is not empty %}
                                <div class="receipt-sizes">
                                    <h4>
                                        Выбери размер:
                                    </h4>
                                    <div class="receipt-sizes-container">
                                        {% for size in sizes %}
                                             {% if size.isDeletable is empty %}
                                                <div class="size-block" data-name="{{ size.id }}" data-size-price="{{ size.price }}">
                                                    {{ size.ProductSize }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                    {% set showInBasket = false %}
                                    <div class="no-allowed-sizes" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                        <div class="nas-title">
                                            Извините, доступных размеров на сегодня нет. Заказать на другой день?
                                        </div>
                                        <div class="custom-button choose-type mr-3 transparent-choose-type" data-order="tomorrow">
                                            Другой день
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="today-or-tomorrow">
                                <div class="tor-title">
                                    На когда заказ:
                                </div>
                                <div class="choose-type-container" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                    <div class="custom-button choose-type" data-order="today" >
                                        Сегодня
                                    </div>
                                    <div class="custom-button choose-type transparent-choose-type" data-order="tomorrow">
                                        Другой день
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                       {# <div class="no-allowed-sizes">
                            <div class="nas-title">
                                Извините, доступных размеров на сегодня нет.Заказать на другой день?
                            </div>
                            <div class="custom-button choose-type mr-3 transparent-choose-type" data-order="tomorrow">
                                Другой день
                            </div>
                        </div>#}
                        <div class="product-price receipt-price" data-price="{{ item.price }}">
                            <span id="price">{% if item.products.count == 1 and item.products[0].ProductSize is null %}{{ item.price + item.products[0].price }}{% else %}{{ item.price }}{% endif %}</span> грн / {{ item.unit }}.{#<span class="special-price-receipt special-price">550 грн</span>#}
                        </div>
                        {% if session is not null and showInBasket %}
                        <div class="product-to-basket">
                            <div class="quantity">
                                <span data- class="plus item-plus">+</span>
                                <div class="quantity-res item-res">
                                    <input type="number" inputmode="numeric" value="1">
                                </div>
                                <span class="minus item-minus">-</span>
                            </div>
                             <div class="custom-button add-basket" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                    Добавить в корзину
                            </div>
                        </div>
                        {% endif %}
{#                        <div class="percent-promotion">#}
{#                                    <span id="percent">#}
{#                                        -5 %#}
{#                                    </span>#}
{#                            <span id="percent-date">#}
{#                                        до 10/11/12#}
{#                                    </span>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="additional-products">
                    <div class="see-also">
                        Посмотри так же
                    </div>
                    <div class="additional-products-row">
                            {% for additionalItem in item.additionalReceipts %}
                            <div class="product-card additional-product-card">
                                {% if additionalItem.titlePhotoPath is not null and getMimeType(additionalItem.titlePhoto) != "video/mp4" %}
                                    <img src="{{ additionalItem.titlePhotoPath }}" alt="photo">
                                {% elseif additionalItem.getPhoto is not empty %}
                                    <img src="/uploads/receipts/{{ additionalItem.getPhoto.first.hash }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/test.jpg') }}" alt="photo">
                                {% endif %}
                                <div class="card-content">
                                    <h4>{{ additionalItem.name }}</h4>
                                    {#<p>{{ additionalItem.description }}</p>#}
                                    <div class="main-info">
                                        <span class="price">{{ additionalItem.price }} ₴</span>
                                        <div class="in_basket" data-product-location="{{ path('showItem',{'category_slug': additionalItem.category.slug,'slug': additionalItem.slug}) }}">Подробнее</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for additionalItem in item.productSalesFromReceipt%}
                            <div class="product-card additional-product-card">
                                {% if additionalItem.titlePhoto is not null %}
                                    <img src="/uploads/products/{{ additionalItem.titlePhoto }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/test.jpg') }}" >
                                {% endif %}
                                <div class="card-content">
                                    <h4>{{ additionalItem.name }}</h4>
                                    {#<p>{{ additionalItem.description }}</p>#}
                                    <div class="main-info">
                                        <span class="price">{{ additionalItem.price }} ₴</span>
                                        <div class="in_basket" data-product-location="{{ path('showItem',{'category_slug': additionalItem.category.slug,'slug': additionalItem.slug}) }}">Подробнее</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </main>
    </div>
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    {% include 'elements/__footer.html.twig' with {'active': active } %}
    <div id="overlay">
            {% include 'elements/modal.html.twig' with {'special_class' : 'product-modal'} %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
{% endblock %}