{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="container-inside">
            {% include 'elements/__header.html.twig' with {'active': active } %}
        </div>
            <main>
                {% set showInBasket = true %}
                <div class="additional-special">
                    <div class="additional-cart">{% if app.session.get('totalSum') == null %}0 ₴{% else %}{{ app.session.get('totalSum') }} ₴{% endif %}</div>
{#                    <!--<div class="additional-fo">#}
{#                        Быстрый заказ#}
{#                        <div></div>#}
{#                    </div> -->#}
                </div>
                <div class="additional-nav">
                    <div class="additional-nav-container">
                        <div class="additional-nav-item">
                            Живые раки
                        </div>
                        <div class="additional-nav-item">
                            Вареные раки
                        </div>
                        <div class="additional-nav-item">
                            Жареные раки
                        </div>
                    </div>
                </div>
                <div class="receipt-container">
                    <div class="receipt-photo">
                    {% if item.titlePhoto is not null %}
                        {% if getMimeType(item.titlePhoto) == "video/mp4" %}
                            <video class="js-player"  allow="autoplay" loop>
                                <source src="{{ item.TitlePhotoPath }}" type="video/mp4"/>
                            </video>
                        {% else %}
                            <img src="{{ item.titlePhotoPath }}" alt="img">
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('assets/img/test.jpg') }}" alt="img">
                    {% endif %}
                    {% for addphoto in item.photo %}
                        <img src="/uploads/receipts/{{ addphoto.hash }}" alt="img">
                    {% endfor %}
                    </div>
                   {# <div class="receipt-photo">
                        <img src="/uploads/receipts/{{ item.titlePhoto }}" alt="img">
                    </div>#}
                    <div class="receipt-info">
                        <div class="receipt-name" {% if item.products.count == 1 and item.products[0].ProductSize is null %} data-related="{{ item.products[0].id }}"{% endif %}>
                            {{ item.name }}
                        </div>
                        <div class="description">
                            {{ item.description }}
                        </div>
                        {% set session = app.session.get('chooseOrder') %}
                        {% if session is not null %}
                            {% if item.products.first.productSize is not null %}
                                {% if sizes is not empty %}
                                <div class="receipt-sizes">
                                    <h4>
                                        Выбери размер:
                                    </h4>
                                    <div class="receipt-sizes-container">
                                        {% for size in sizes %}
                                        <div class="size-block" data-name="{{ size.id }}">
                                            {{ size.ProductSize }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                    {% set showInBasket = false %}
                                    <div class="no-allowed-sizes" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                        <div class="nas-title">
                                            Извините, доступных размеров на сегодня нет.Заказать на другой день?
                                        </div>
                                        <div class="custom-button choose-type mr-3 transparent-choose-type" data-order="tomorrow">
                                            Другой день
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="today-or-tomorrow">
                                <div class="tor-title">
                                    На когда заказ:
                                </div>
                                <div class="choose-type-container" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                    <div class="custom-button choose-type" data-order="today" >
                                        Сегодня
                                    </div>
                                    <div class="custom-button choose-type transparent-choose-type" data-order="tomorrow">
                                        Другой день
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                       {# <div class="no-allowed-sizes">
                            <div class="nas-title">
                                Извините, доступных размеров на сегодня нет.Заказать на другой день?
                            </div>
                            <div class="custom-button choose-type mr-3 transparent-choose-type" data-order="tomorrow">
                                Другой день
                            </div>
                        </div>#}
                        <div class="product-price receipt-price">
                            {{ item.price }} грн / {{ item.unit }}.{#<span class="special-price-receipt special-price">550 грн</span>#}
                        </div>
                        {% if session is not null and showInBasket %}
                        <div class="product-to-basket">
                            <div class="quantity">
                                <span data- class="plus item-plus">+</span>
                                <div class="quantity-res item-res">
                                    <input type="number" inputmode="numeric" value="1">
                                </div>
                                <span class="minus item-minus">-</span>
                            </div>
                             <div class="custom-button add-basket" data-name="{{ item.id }}" data-type="{{ item.getType }}">
                                    Добавить в козину
                            </div>
                        </div>
                        {% endif %}
{#                        <div class="percent-promotion">#}
{#                                    <span id="percent">#}
{#                                        -5 %#}
{#                                    </span>#}
{#                            <span id="percent-date">#}
{#                                        до 10/11/12#}
{#                                    </span>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="additional-products">
                    <div class="see-also">
                        Посмотри так же
                    </div>
                    <div class="additional-products-row">
                            <div class="product-card additional-product-card">
                                <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                <div class="card-content">
                                    <h4>Живой рак вкусный прекрасный</h4>
                                    <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                    <div class="main-info">
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card additional-product-card">
                                <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                <div class="card-content">
                                    <h4>Живой рак вкусный прекрасный</h4>
                                    <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                    <div class="main-info">
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card additional-product-card">
                                <img src="{{ asset('assets/img/test.jpg') }}" alt="">
                                <div class="card-content">
                                    <h4>Живой рак вкусный прекрасный</h4>
                                    <p>вафвлоыафждлвпофждпыо вафыв в</p>
                                    <div class="main-info">
                                        <span class="price">₴ 220</span>
                                        <div class="in_basket" >В корзину</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </main>
    </div>
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    {% include 'elements/__footer.html.twig' with {'active': active } %}
    <div id="overlay">
            <div class="modal-window pt-10 text-center">
                <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
                <embed id="close-modal" type="image/svg+xml" src="/assets/img/close-modal.svg"/>
                <span class="attention-title">Выбери на когда тебе нужны раки!</span><br>
                <span class="attention-subtitle">Что бы мы знали точно , есть ли они на складе</span>
                <div class="choose-type-container">
                    <div class="custom-button choose-type" data-order="today">
                        Сегодня
                    </div>
                    <div class="custom-button choose-type" data-order="tomorrow">
                        Другой день
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
{% endblock %}