{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="product-card">
                    <img src="{{ receipt.TitlePhotoPath }}" alt="">
                    <div class="card-content">
                        <h4>{{ receipt.name }}</h4>
                        <p>{{ receipt.description }}</p>
                        <span class="price">{{ receipt.price }}</span>
                        <input class="quantity" type="number" width="20px" name="quantity" min="1" value="1">
                        <div class="in_basket to_basket" data-type="{{ receipt.getType }}" data-name="{{ receipt.slug }}">To cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

