{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style>
        .slick-slide {
            margin: 0 13px;
            width: 150px;
        }
        /* the parent */
        .slick-list {
            margin: 0;
        }
        .slick-track{

        }
    </style>
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        {% set sum = app.session.get('totalSum') %}
        {% include 'elements/small_header.html.twig' %}
        <main>
            <div class="additional-nav">
                <div class="additional-nav-container">
                    <div class="additional-nav-item nav-item-grey">
                        Личные данные
                    </div>
                    <div class="additional-nav-item nav-item-grey">
                        История заказов
                    </div>
                    <div class="additional-nav-item nav-item-grey">
                        Поменять пароль
                    </div>
                </div>
            </div>
            <div class="user-tabs">
                <div class="user-tab user-tab-active">Личные данные</div>
                <div class="user-tab">История заказов</div>
                <div class="user-tab user-tab-last">Поменять пароль</div>
            </div>
            <div class="user-red-content">
                <embed id="lobster" type="image/svg+xml" src="/assets/img/lobster.svg"/>
                <div class="user-title">
                    <span class="attention-subtitle">Персональные данные</span><br>
                    <span class="attention-title">Один раз заполнил - заказывай всё время!</span>
                </div>
{#                <form>#}
                {{ form_start(form) }}
                    <div class="input-user-container">
                        <div>
                            {{ form_widget(form.name,{'attr':{'class': 'user-input login-input invalid-input',
                                                              'placeholder': 'Имя'}}) }}
                            <small class="validation-mess">*поле не должно быть пустым</small>
                        </div>
                        <div>
                            {{ form_widget(form.email,{'attr':{'class': 'user-input login-input',
                                                         'placeholder': 'Email'}}) }}
                        </div>
                        <div>
                            {{ form_widget(form.phone,{'attr':{'class': 'user-input login-input',
                                'placeholder': '+38(095)0000000'}}) }}
                        </div>
                    </div>
                    <div class="input-user-container mt-1 mb-4">
                        <div>
                            {{ form_widget(form.address,{'attr':{'class': 'user-input login-input',
                                'placeholder': 'Адрес'}}) }}
                        </div>
                        <div id="user-map"></div>
                    </div>
                            {{ form_widget(form.coordinates) }}
                            {{ form_widget(form.save, {'attr':{'class': 'login-button'}}) }}
{#                    <div class="login-button">#}
{#                        Сохранить#}
{#                    </div>#}
{#                </form>#}
                {{ form_end(form) }}
            </div>
            <div class="attention-promotion">
                <div class="bonuses-in-attention">
                    100/<span class="bonus-bold">2000</span>
                </div>
                <div class="promotion-title">
                    <span class="attention-subtitle">Купи товаров на 2000 грн за всё время</span>
                    <span class="attention-title">Получи Рыбу в подарок</span>
                </div>
                <div class="scale">
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                    <div class="scale-section"></div>
                </div>
            </div>
        </main>
    </div>
    {% include 'elements/__footer.html.twig' with { 'active': false } %}
    {% include 'elements/mobile-nav.html.twig' with {'mob_active': false} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5CSb-iMy9DtAHF2u-LGV_j2dZ0UQFTCE&libraries=places&callback=initMap"
            async defer></script>
    {% set coordinates = '50.1231233 12.394583' %}
    <script>
        let coordinates = '{{ coordinates }}'{# '{{ user.coordinates }}' #};
        console.log(coordinates);
        let map;
        let position = { lat: Number(coordinates.substr(0,coordinates.indexOf(' '))), lng: Number(coordinates.substr(coordinates.indexOf(' ')+1))};

        function initMap() {
            map = new google.maps.Map(document.getElementById('user-map'), {
                center: position,
                zoom: 15
            });
            let marker = new google.maps.Marker({position: position, map: map});
        }
    </script>
{% endblock %}