{% extends 'admin_base.html.twig' %}
{% block body %}
    <!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    {{ include('elements/admin_nav.html.twig', {'active' : 'specialProposition'}) }}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            {{ include('elements/admin_header.html.twig') }}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card-deck">
                            <div class="card">
                                <img src="{{ asset('images/—Pngtree—promotion_256540.png') }}" class="card-img-top" alt="percent">
                                <div class="card-body">
                                    <h5 class="card-title">Процентная скидка</h5>
                                    <p class="card-text">Здесь вы можете сделать процентную скидку на любой товар и рецепт</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ path('createPromotionType',{'promotionType' : 'percent'}) }}'">Создать акцию</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="{{ asset('images/—Pngtree—gift_248038.png') }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Подарок</h5>
                                    <p class="card-text">Здесь вы можете выьрать подарок к любому товару и рецепту.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ path('createPromotionType',{'promotionType' : 'gift'}) }}'">Создать акцию</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="{{ asset('images/—Pngtree—price_112282.png') }}" class="card-img-top" alt="...">
                                <div class="card-body ">
                                    <h5 class="card-title">Специальная цена</h5>
                                    <p class="card-text">Здесь вы можете сделать спецыальную цену на любой товар и рецепт.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ path('createPromotionType',{'promotionType' : 'specialPrice'}) }}'">Создать акцию</button>
                                </div>
                            </div>
                            <div class="card">
                                <img src="{{ asset('images/—Pngtree—money_1043061.png') }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Сумма для подарка</h5>
                                    <p class="card-text">Здесь вы можете указать цену заказа и подарок который человек получит за этот заказ.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ path('createPromotionType',{'promotionType' : 'globalSpecialPrice'}) }}'">Создать акцию</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        {{ include('elements/admin_footer.html.twig') }}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

