{% extends 'admin_base.html.twig' %}
{% block body %}
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    {{ include('elements/admin_nav.html.twig', {'active': 'supply'}) }}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            {{ include('elements/admin_header.html.twig') }}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Поставки</h1>
                <p class="mb-4">Здесь можно изменить поставку</p>
                <hr class="sidebar-divider">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Таблица Поставок</h6>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills ">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Все</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Раки</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">По категориям</a>
                                <div class="dropdown-menu ">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search live-search-form" data-url="supply">
                                    <div class="input-group">
                                        <input id="searchItem" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name="q">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <hr>
                        <div class="row liveSearch">
                            {% for promotion in specialPropositions %}
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="margin-bottom: 10px;">
                                    {% if promotion.percent %}
                                    <div class="card" style="width: 20rem;">
                                            <img src="{{ asset('images/_percent_alt_icon_966004.png') }}" style="object-fit: contain" class="card-img-top" alt="main-photo">
                                        <div class="card-body">
                                            <h5 class="card-title">Процентная скидка</h5>
                                            <div class="row justify-content-center">
                                                <p>
                                                    Скидка: {{ promotion.percent }} % <br>
                                                    Размер: {{ promotion.productSize }}<br>
                                                    Колиество: {{ promotion.quantity }}<br>
                                                    Активна до: {{ promotion.availableAt|date }}<br>
                                                    Описание: {{ promotion.description }}<br>
                                                </p>
                                                    {% if promotion.receipt %}
                                                        <div class="input-group-text text-center">Относится к: {{ promotion.receipt.name }} </div>
                                                    {% elseif promotion.product %}
                                                        <div class="input-group-text text-center">Относится к: {{ promotion.product.name }} </div>
                                                    {% endif %}
                                                {% if promotion.receipt %}
                                                    <button class="btn btn-primary" onclick="window.location.href='{{ path('editPercentPromotion',{'type' : 'receipt' ,'id': promotion.id}) }}'">Редактировать</button>
                                                {% endif %}
                                                {% if promotion.product %}
                                                    <button class="btn btn-primary" onclick="window.location.href='{{ path('editPercentPromotion',{'type' : 'product' ,'id': promotion.id}) }}'">Редактировать</button>
                                                {% endif %}
                                                <button class="btn btn-danger" onclick="if(confirm('Точно удалить акцию? Она удалиться из всех поставок и заказов пользователей.'))window.location.href ='{{ path('deletePromotion', {'id': promotion.id}) }}'">Удалить</button>
                                            </div>
                                            <div class="row justify-content-center" style="margin-top: 20px">
                                                <div class="custom-control custom-switch">
                                                        <input type="checkbox" onchange="activate({{ promotion.id }})" class="custom-control-input" id="customSwitch{{ promotion.id }}" {% if promotion.status %}checked{% endif %}>
                                                        <label class="custom-control-label" for="customSwitch{{ promotion.id }}">Активировать\Деактивировать</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elseif promotion.specialPrice%}
                            <div class="card" style="width: 20rem;">
                                <img src="{{ asset('images/—Pngtree—promotion_256540.png') }}" style="object-fit: contain" class="card-img-top" alt="main-photo">
                                <div class="card-body">
                                    <h5 class="card-title">Спец цена</h5>
                                    <div class="row justify-content-center">
                                        <p>
                                            Скидка: {{ promotion.specialPrice }}<br>
                                            Размер: {{ promotion.productSize }}<br>
                                            Колиество: {{ promotion.quantity }}<br>
                                            Активна до: {{ promotion.availableAt|date }}<br>
                                            Описание: {{ promotion.description }}<br>
                                        </p>
                                        {% if promotion.receipt %}
                                            <div class="input-group-text text-center">Относится к: {{ promotion.receipt.name }} </div>
                                        {% elseif promotion.product %}
                                            <div class="input-group-text text-center">Относится к: {{ promotion.product.name }} </div>
                                        {% endif %}
                                        {% if promotion.receipt %}
                                            <button class="btn btn-primary" onclick="window.location.href='{{ path('editSpecialPrice',{'type' : 'receipt' ,'id': promotion.id}) }}'">Редактировать</button>
                                        {% endif %}
                                        {% if promotion.product %}
                                            <button class="btn btn-primary" onclick="window.location.href='{{ path('editSpecialPrice',{'type' : 'product' ,'id': promotion.id}) }}'">Редактировать</button>
                                        {% endif %}
                                        <button class="btn btn-danger" onclick="if(confirm('Точно удалить акцию? Она удалиться из всех поставок и заказов пользователей.'))window.location.href ='{{ path('deletePromotion', {'id': promotion.id}) }}'">Удалить</button>
                                    </div>
                                    <div class="row justify-content-center" style="margin-top: 20px">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" onchange="activate({{ promotion.id }})" class="custom-control-input" id="customSwitch{{ promotion.id }}" {% if promotion.status %}checked{% endif %}>
                                                <label class="custom-control-label" for="customSwitch{{ promotion.id }}">Активировать\Деактивировать</label>
                                            </div>
                                    </div>
                                </div>
                            </div>
                                {% elseif promotion.gift %}
                                    <div class="card" style="width: 20rem;">
                                        <img src="{{ promotion.gift.TitlePhotoPath}}" style="object-fit: contain" class="card-img-top" alt="main-photo">
                                        <div class="card-body">
                                            <h5 class="card-title">Подарок</h5>
                                            <div class="row justify-content-center">
                                                <p>
                                                    Скидка: {{ promotion.gift.name }}<br>
                                                    Размер: {{ promotion.productSize }}<br>
                                                    Колиество: {{ promotion.quantity }}<br>
                                                    Активна до: {{ promotion.availableAt|date }}<br>
                                                    Описание: {{ promotion.description }}<br>
                                                </p>
                                                {% if promotion.receipt %}
                                                    <div class="input-group-text text-center">Относится к: {{ promotion.receipt.name }} </div>
                                                {% elseif promotion.product %}
                                                    <div class="input-group-text text-center">Относится к: {{ promotion.product.name }} </div>
                                                {% endif %}
                                                {% if promotion.receipt %}
                                                    <button class="btn btn-primary" onclick="window.location.href='{{ path('editGift',{'type' : 'receipt' ,'id': promotion.id}) }}'">Редактировать</button>
                                                {% endif %}
                                                {% if promotion.product %}
                                                    <button class="btn btn-primary" onclick="window.location.href='{{ path('editGift',{'type' : 'product' ,'id': promotion.id}) }}'">Редактировать</button>
                                                {% endif %}
                                                <button class="btn btn-danger" onclick="if(confirm('Точно удалить акцию? Она удалиться из всех поставок и заказов пользователей.'))window.location.href ='{{ path('deletePromotion', {'id': promotion.id}) }}'">Удалить</button>
                                            </div>
                                            <div class="row justify-content-center" style="margin-top: 20px">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" onchange="activate({{ promotion.id }})" class="custom-control-input" id="customSwitch{{ promotion.id }}" {% if promotion.status %}checked{% endif %}>
                                                    <label class="custom-control-label" for="customSwitch{{ promotion.id }}">Активировать\Деактивировать</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        {% elseif promotion.globalPrice%}
                                            <div class="card" style="width: 20rem;">
                                                <img src="{{ asset('images/—Pngtree—money_1043061.png') }}" style="object-fit: contain" class="card-img-top" alt="main-photo">
                                                <div class="card-body">
                                                    <h5 class="card-title">Сумма</h5>
                                                    <div class="row justify-content-center">
                                                        <p>
                                                            Скидка: {{ promotion.globalPrice }}<br>
                                                            Размер: {{ promotion.productSize }}<br>
                                                            Колиество: {{ promotion.quantity }}<br>
                                                            Описание: {{ promotion.description }}<br>
                                                        </p>
                                                        {% if promotion.receipt %}
                                                            <div class="input-group-text text-center">Относится к: {{ promotion.receipt.name }} </div>
                                                        {% elseif promotion.product %}
                                                            <div class="input-group-text text-center">Относится к: {{ promotion.product.name }} </div>
                                                        {% endif %}
                                                        {% if promotion.receipt %}
                                                            <button class="btn btn-primary" onclick="window.location.href='{{ path('editGlobalSpecialPrice',{'type' : 'receipt' ,'id': promotion.id}) }}'">Редактировать</button>
                                                        {% endif %}
                                                        {% if promotion.product %}
                                                            <button class="btn btn-primary" onclick="window.location.href='{{ path('editGlobalSpecialPrice',{'type' : 'product' ,'id': promotion.id}) }}'">Редактировать</button>
                                                        {% endif %}
                                                        <button class="btn btn-danger" onclick="if(confirm('Точно удалить акцию? Она удалиться из всех поставок и заказов пользователей.'))window.location.href ='{{ path('deletePromotion', {'id': promotion.id}) }}'">Удалить</button>
                                                    </div>
                                                    <div class="row justify-content-center" style="margin-top: 20px">
                                                        <div class="custom-control custom-switch">
                                                                <input type="checkbox" onchange="activate({{ promotion.id }})" class="custom-control-input" id="customSwitch{{ promotion.id }}" {% if promotion.status %}checked{% endif %}>
                                                                <label class="custom-control-label" for="customSwitch{{ promotion.id }}">Активировать\Деактивировать</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        {{ include('elements/admin_footer.html.twig') }}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">

    </script>
    <script>
        function activate(id) {
            $.ajax({
                type: 'POST',
                url: '{{ path('activatePromotion') }}',
                data: { id: id},
                success: function (res) {
                    console.log(res.status);
                }
            })
        }
    </script>
{% endblock %}
