{#
{% extends 'base.html.twig' %}
{% block body %}
    <div style="color: white">
        <h3> Congrats! You have already confirm your order! We call you in 5-10 min to confirm your order!</h3>
        <p>There are your login - <b>{{ email }}</b> and temporary password - <b>{{ password }}</b> from yuor acc.<br> We duolicate it to your email and phone number</p><br>
        <p>Here you can check status of your order and then pay for it</p>
    </div>
{% endblock %}#}
{% extends 'base.html.twig' %}
{% block title %}Приветствие{% endblock %}
{% block description %}Приветствие на сайте Lipinskie Raki{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="container">
            <div class="container-inside">
                {% include 'elements/__header.html.twig' with {'active': false} %}
                <main>
                    {% include 'elements/additionalNav.html.twig' %}
                    <div class="small-red-content text-center attention-pt attention-height">
                        <embed id="pizza" type="image/svg+xml" src="/assets/img/pizza.svg"/>
                        <span class="attention-title">Привет гурман! Твой заказ принят в обработку!.</span><br>
                        <span class="attention-subtitle">Ваш логин - <b> {{ email }} </b><br> и <br>временный пароль - <b> {{ password }} </b><br>
                                       Зайди в личный кабинет и проверь статус заказа &nbsp;</span>
                        <a href="{{ path('user_orders', {'uniqueId': app.user.uniqueId}) }}" class="none-text-decoration"><button type="submit"
                                                                                                                                  class="login-button btn mt-4 mb-3">Проверить заказ</button></a>
                    </div>
                    {% include 'elements/attention-promotion.html.twig' %}
                </main>
            </div>
        </div>
        {% include 'elements/__footer.html.twig' with {'active': false} %}
        {% include 'elements/mobile-nav.html.twig' with {'mob_active': false}  %}
    </section>
{% endblock %}

